{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/foods/home/home.css' %}">
<style>
    .search {
        position: relative;
        width: 300px;
      }
      
      .search_input {
        width: 100%;
        height: 3rem;
        border: 0;
        border-radius: 15px;
        padding: 10px 12px;
        font-size: 14px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
      }
      
      .search_img {
        position : absolute;
        width: 30px;
        top: 8px;
        right: 10px;
        margin: 0;
        border: 0;
        border-radius: 10px;
        margin: auto;
      }

      .search_select {
        border: 0;
        border-radius: 15px;
        padding: 10px 12px;
        font-size: 14px;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
      }
</style>
{% endblock css %}
{% block content %}
<div class="container">
  <div class="justify-content-center d-flex align-items-center">
    <img class="team_logo me-2" src="{{ team.logo.url }}" style="width: 7rem; height: 7rem;" alt="">
    <div class="d-flex flex-column mt-3">
      <h1 class="fw-bold" style="font-size:2.5rem;">{{ team.name }}<h1>
      <p class="" style="color:gray; font-size:1.2rem;">{{ team.name }}의 먹거리 정보🍕</p>
    </div>
  </div>
  <div class="symbol mb-3">
    <div id="map" style="width:100%;height:400px;"></div>
  </div>
  <form class="d-flex mx-auto mt-5 justify-content-center" style="width: 50%;" role="search" method='GET' action="{% url 'foods:search' team.pk %}">
    <select class="select search_select me-2" style="width: 30%;" aria-label="Default select example" name='field'>
      <option value="1">내부 매장</option>
      <option value="2">외부 매장</option>
      <option value="3"># 해시태그</option>
    </select>
    <div class="search">
      <input class="search_input form-control me-2" type="search" placeholder="검색어 입력" name='searched'>
      <input type="image" class="search_img" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
    </div>
  </form>


<!--스토어 카드-->

  <div class="container text-center py-3" style="backdrop-filter:blur(10px); border-top: 3px solid {{ team.color }}; border-bottom: 3px solid {{ team.color }}">
    <div class="d-flex position-relative flex-column align-items-center mt-3">
      <h2 class="fw-bold" style="font-size:2.5rem;">구장 내 스낵바</h2>
      <p class="" style="color:gray; font-size:1.2rem;">구장 내 가장 인기 있는 스낵바를 찾아보세요🍕</p>
      <a class="align-self-end" style="text-decoration:none;" href="{% url 'foods:store_all' team.pk %}"><div style="color:gray; font-size:1.2rem;"><svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" style="width:1rem; height: 1rem;"><path d="M69.844 43.388 33.842 13.386a6.003 6.003 0 0 0-7.688 9.223L56.624 48l-30.47 25.39a6.003 6.003 0 0 0 7.688 9.223l36.002-30.001a6.01 6.01 0 0 0 0-9.223Z" fill="#808080" class="fill-000000"></path></svg>전체 보기</div></a>
    </div>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link text-dark active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">별점순</button>
        <button class="nav-link text-dark" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">팔로우순</button>
        <button class="nav-link text-dark" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">리뷰순</button>
      </div>
    </nav>
    <!-- 카드 슬라이더 효과 -->
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        <!-- 카드 슬라이더 효과 -->
        <div class='slider'>
          <div class='slide-track'>
            {% for grade in store_grade %}
            <div class='slide'>
              <div class="train-card bg-white p-0 position-relative">
                <a href="{% url 'foods:store_detail' team_pk=grade.team_id store_pk=grade.pk %}" class="text-decoration-none text-dark">
                {% for image in grade.store_image.all %}
                  {% if forloop.counter == 1 %}
                  <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                  {% endif %}
                {% endfor %}
                <div class="card-body py-2 border-top mb-5 pb-3">
                  <h5 class="card-title text-center my-3">{{grade.name}}</h5>
                  <p class="card-text small mx-3">
                    {{grade.items}}
                  </p>
                </div>
                <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 pb-2">
                  <p class="small m-0 text-center">{{ grade.team.stadium.name }}</p>
                  <p class="small m-0 text-center">
                    {% if grade.cnt_followings %}
                    <span class='small m-0'>팔로우 {{ grade.cnt_followings }}</span>
                    {% else %}
                    <span class='small m-0'>팔로우가 없습니다</span>
                    {% endif %}
                  </p>
                  <p class="small m-0 text-center">
                    {% if grade.store_reviews.all.count == 0 %}
                    <span class='small m-0'>평가가 없습니다</span>
                    {% else %}
                    {% for i in ""|ljust:grade.avg_grade %}
                    <span>⭐</span>
                    {% endfor %}
                    <span>{{ grade.avg_grade|floatformat:"1" }}({{ grade.cnt_reviews }}명 평가)</span>
                    {% endif %}
                  </p>
              </div>
              </a>
              </div>
            </div>
            {% endfor %}

            <!-- 한번 더 반복하기 -->

            {% for grade in store_grade %}
            <div class='slide'>
              <div class="train-card bg-white p-0 position-relative">
                <a href="{% url 'foods:store_detail' team_pk=grade.team_id store_pk=grade.pk %}" class="text-decoration-none text-dark">
                {% for image in grade.store_image.all %}
                  {% if forloop.counter == 1 %}
                  <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                  {% endif %}
                {% endfor %}
                <div class="card-body py-2 border-top mb-5 pb-3">
                  <h5 class="card-title text-center my-3">{{grade.name}}</h5>
                  <p class="card-text small mx-3">
                    {{grade.items}}
                  </p>
                </div>
                <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 pb-2">
                  <p class="small m-0 text-center">{{ grade.team.stadium.name }}</p>
                  <p class="small m-0 text-center">
                    {% if grade.cnt_followings %}
                    <span class='small m-0'>팔로우 {{ grade.cnt_followings }}</span>
                    {% else %}
                    <span class='small m-0'>팔로우가 없습니다</span>
                    {% endif %}
                  </p>
                  <p class="small m-0 text-center">
                  {% if grade.store_reviews.all.count == 0 %}
                  <span class='small m-0'>평가가 없습니다</span>
                  {% else %}
                  {% for i in ""|ljust:grade.avg_grade %}
                  <span>⭐</span>
                  {% endfor %}
                  <span>{{ grade.avg_grade|floatformat:"1" }}({{ grade.cnt_reviews }}명 평가)</span>
                  {% endif %}
                  </p>
              </div>
              </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
        <!-- 카드 슬라이더 효과 -->
        <div class='slider'>
          <div class='slide-track'>
            {% for follow in store_following %}
            <div class='slide'>
              <div class="train-card bg-white p-0 position-relative">
                <a href="{% url 'foods:store_detail' team_pk=follow.team_id store_pk=follow.pk %}" class="text-decoration-none text-dark">
                {% for image in follow.store_image.all %}
                {% if forloop.counter == 1 %}
                <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                {% endif %}
                {% endfor %}
                <div class="card-body py-2 border-top mb-5 pb-3">
                  <h5 class="card-title text-center my-3">{{follow.name}}</h5>
                  <p class="card-text small mx-3">
                    {{follow.items}}
                  </p>
                </div>
                <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 pb-2">
                  <p class="small m-0 text-center">{{ follow.team.stadium.name }}</p>
                  <p class="small m-0 text-center">
                    {% if follow.cnt_followings %}
                    <span class='small m-0'>팔로우 {{ follow.cnt_followings }}</span>
                    {% else %}
                    <span class='small m-0'>팔로우가 없습니다</span>
                    {% endif %}
                  </p>
                  <p class="small m-0 text-center">
                  {% if follow.store_reviews.all.count == 0 %}
                  <span class='small m-0'>평가가 없습니다</span>
                  {% else %}
                  {% for i in ""|ljust:follow.avg_grade %}
                  <span>⭐</span>
                  {% endfor %}
                  <span>{{ follow.avg_grade|floatformat:"1" }}({{ follow.cnt_reviews }}명 평가)</span>
                  {% endif %}
                  </p>
              </div>
              </a>
              </div>
            </div>
            {% endfor %}

            <!-- 한번 더 반복하기 -->

            {% for follow in store_following %}
            <div class='slide'>
              <div class="train-card bg-white p-0 position-relative">
                <a href="{% url 'foods:store_detail' team_pk=follow.team_id store_pk=follow.pk %}" class="text-decoration-none text-dark">
                {% for image in follow.store_image.all %}
                {% if forloop.counter == 1 %}
                <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                {% endif %}
                {% endfor %}
                <div class="card-body py-2 border-top mb-5 pb-3">
                  <h5 class="card-title text-center my-3">{{follow.name}}</h5>
                  <p class="card-text small mx-3">
                    {{follow.items}}
                  </p>
                </div>
                <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 pb-2">
                  <p class="small m-0 text-center">{{ follow.team.stadium.name }}</p>
                  <p class="small m-0 text-center">
                    {% if follow.cnt_followings %}
                    <span class='small m-0'>팔로우 {{ follow.cnt_followings }}</span>
                    {% else %}
                    <span class='small m-0'>팔로우가 없습니다</span>
                    {% endif %}
                  </p>
                  <p class="small m-0 text-center">
                  {% if follow.store_reviews.all.count == 0 %}
                  <span class='small m-0'>평가가 없습니다</span>
                  {% else %}
                  {% for i in ""|ljust:follow.avg_grade %}
                  <span>⭐</span>
                  {% endfor %}
                  <span>{{ follow.avg_grade|floatformat:"1" }}({{ follow.cnt_reviews }}명 평가)</span>
                  {% endif %}
                  </p>
              </div>
              </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
        <!-- 카드 슬라이더 효과 -->
        <div class='slider'>
          <div class='slide-track'>
            {% for review in store_review %}
            <div class='slide'>
              <div class="train-card bg-white p-0 position-relative">
                <a href="{% url 'foods:store_detail' team_pk=review.team_id store_pk=review.pk %}" class="text-decoration-none text-dark">
                {% for image in review.store_image.all %}
                  {% if forloop.counter == 1 %}
                      <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                      {% endif %}
                {% endfor %}
                <div class="card-body py-2 border-top">
                  <h5 class="card-title text-center my-3">{{review.name}}</h5>
                  <p class="card-text small mx-3">
                    {{review.items}}
                  </p>
                  <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 pb-2">
                    <p class="small m-0 text-center">{{ review.team.stadium.name }}</p>
                    <p class="small m-0 text-center">
                      {% if review.cnt_followings %}
                      <span class='small m-0'>팔로우 {{ review.cnt_followings }}</span>
                      {% else %}
                      <span class='small m-0'>팔로우가 없습니다</span>
                      {% endif %}
                    </p>
                    <p class="small m-0 text-center">
                    {% if review.store_reviews.all.count == 0 %}
                    <span class='small m-0'>평가가 없습니다</span>
                    {% else %}
                    {% for i in ""|ljust:review.avg_grade %}
                    <span>⭐</span>
                    {% endfor %}
                    <span>{{ review.avg_grade|floatformat:"1" }}({{ review.cnt_reviews }}명 평가)</span>
                    {% endif %}
                    </p>
                </div>
                </div>
              </a>
              </div>
            </div>
            {% endfor %}

            <!-- 한번 더 반복하기 -->

            {% for review in store_review %}
            <div class='slide'>
              <div class="train-card bg-white p-0 position-relative">
                <a href="{% url 'foods:store_detail' team_pk=review.team_id store_pk=review.pk %}" class="text-decoration-none text-dark">
                {% for image in review.store_image.all %}
                  {% if forloop.counter == 1 %}
                      <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                      {% endif %}
                {% endfor %}
                <div class="card-body py-2 border-top">
                  <h5 class="card-title text-center my-3">{{review.name}}</h5>
                  <p class="card-text small mx-3">
                    {{review.items}}
                  </p>
                  <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 pb-2">
                    <p class="small m-0 text-center">{{ review.team.stadium.name }}</p>
                    <p class="small m-0 text-center">
                      {% if review.cnt_followings %}
                      <span class='small m-0'>팔로우 {{ review.cnt_followings }}</span>
                      {% else %}
                      <span class='small m-0'>팔로우가 없습니다</span>
                      {% endif %}
                    </p>
                    <p class="small m-0 text-center">
                    {% if review.store_reviews.all.count == 0 %}
                    <span class='small m-0'>평가가 없습니다</span>
                    {% else %}
                    {% for i in ""|ljust:review.avg_grade %}
                    <span>⭐</span>
                    {% endfor %}
                    <span>{{ review.avg_grade|floatformat:"1" }}({{ review.cnt_reviews }}명 평가)</span>
                    {% endif %}
                    </p>
                </div>
                </div>
              </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- 레스토랑 카드 -->

<div>
    <div class="container text-center py-3" style="backdrop-filter:blur(10px); border-top: 3px solid {{ team.color }}; border-bottom: 3px solid {{ team.color }}">
        <div class="d-flex flex-column align-items-center mt-3">
            <h2 class="fw-bold" style="font-size:2.5rem;">구장 주변 맛집</h2>
            <p class="" style="color:gray; font-size:1.2rem;">구장 주변 가장 인기있는 맛집을 찾아보세요💯</p>
            <a class="align-self-end" style="text-decoration:none;" href="{% url 'foods:restaurant_all' team.pk %}"><div style="color:gray; font-size:1.2rem;"><svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" style="width:1rem; height: 1rem;"><path d="M69.844 43.388 33.842 13.386a6.003 6.003 0 0 0-7.688 9.223L56.624 48l-30.47 25.39a6.003 6.003 0 0 0 7.688 9.223l36.002-30.001a6.01 6.01 0 0 0 0-9.223Z" fill="#808080" class="fill-000000"></path></svg>전체 보기</div></a>
        </div>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link text-dark active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">별점순</button>
            <button class="nav-link text-dark" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">팔로우순</button>
            <button class="nav-link text-dark" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">리뷰순</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            <!-- 카드 슬라이더 효과 -->
            <div class='slider'>
              <div class='slide-track'>
                {% for grade in restaurant_grade %}
                <div class='slide'>
                  <div class="train-card bg-white p-0 position-relative">
                    <a href="{% url 'foods:restaurant_detail' team_pk=grade.team_id restaurant_pk=grade.pk %}" class="text-decoration-none text-dark">
                    {% for image in grade.restaurant_image.all %}
                      {% if forloop.counter == 1 %}
                      <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                      {% endif %}
                    {% endfor %}
                    <div class="card-body py-2 border-top mb-5 pb-3">
                      <h5 class="card-title text-center my-3">{{grade.name}}</h5>
                      <p class="card-text small mx-3">
                        {{grade.items}}
                      </p>
                    </div>
                    <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 pb-2">
                      <p class="small m-0 text-center">{{ grade.team.stadium.name }}</p>
                      <p class="small m-0 text-center">
                        {% if grade.cnt_followings %}
                        <span class='small m-0'>팔로우 {{ grade.cnt_followings }}</span>
                        {% else %}
                        <span class='small m-0'>팔로우가 없습니다</span>
                        {% endif %}
                      </p>
                      <p class="small m-0 text-center">
                        {% if grade.restaurant_reviews.all.count == 0 %}
                        <span class='small m-0'>평가가 없습니다</span>
                        {% else %}
                        {% for i in ""|ljust:grade.avg_grade %}
                        <span>⭐</span>
                        {% endfor %}
                        <span>{{ grade.avg_grade|floatformat:"1" }}({{ grade.cnt_reviews }}명 평가)</span>
                        {% endif %}
                      </p>
                  </div>
                  </a>
                  </div>
                </div>
                {% endfor %}

                <!-- 한번 더 반복하기 -->

                {% for grade in restaurant_grade %}
                <div class='slide'>
                  <div class="train-card bg-white p-0 position-relative">
                    <a href="{% url 'foods:restaurant_detail' team_pk=grade.team_id restaurant_pk=grade.pk %}" class="text-decoration-none text-dark">
                    {% for image in grade.restaurant_image.all %}
                      {% if forloop.counter == 1 %}
                      <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                      {% endif %}
                    {% endfor %}
                    <div class="card-body py-2 border-top mb-5 pb-3">
                      <h5 class="card-title text-center my-3">{{grade.name}}</h5>
                      <p class="card-text small mx-3">
                        {{grade.items}}
                      </p>
                    </div>
                    <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 pb-2">
                      <p class="small m-0 text-center">{{ grade.team.stadium.name }}</p>
                      <p class="small m-0 text-center">
                        {% if grade.cnt_followings %}
                        <span class='small m-0'>팔로우 {{ grade.cnt_followings }}</span>
                        {% else %}
                        <span class='small m-0'>팔로우가 없습니다</span>
                        {% endif %}
                      </p>
                      <p class="small m-0 text-center">
                      {% if grade.restaurant_reviews.all.count == 0 %}
                      <span class='small m-0'>평가가 없습니다</span>
                      {% else %}
                      {% for i in ""|ljust:grade.avg_grade %}
                      <span>⭐</span>
                      {% endfor %}
                      <span>{{ grade.avg_grade|floatformat:"1" }}({{ grade.cnt_reviews }}명 평가)</span>
                      {% endif %}
                      </p>
                  </div>
                  </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <!-- 카드 슬라이더 효과 -->
            <div class='slider'>
              <div class='slide-track'>
                {% for follow in restaurant_following %}
                <div class='slide'>
                  <div class="train-card bg-white p-0 position-relative">
                    <a href="{% url 'foods:restaurant_detail' team_pk=follow.team_id restaurant_pk=follow.pk %}" class="text-decoration-none text-dark">
                    {% for image in follow.restaurant_image.all %}
                    {% if forloop.counter == 1 %}
                    <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                    {% endif %}
                    {% endfor %}
                    <div class="card-body py-2 border-top mb-5 pb-3">
                      <h5 class="card-title text-center my-3">{{follow.name}}</h5>
                      <p class="card-text small mx-3">
                        {{follow.items}}
                      </p>
                    </div>
                    <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 pb-2">
                      <p class="small m-0 text-center">{{ follow.team.stadium.name }}</p>
                      <p class="small m-0 text-center">
                        {% if follow.cnt_followings %}
                        <span class='small m-0'>팔로우 {{ follow.cnt_followings }}</span>
                        {% else %}
                        <span class='small m-0'>팔로우가 없습니다</span>
                        {% endif %}
                      </p>
                      <p class="small m-0 text-center">
                      {% if follow.restaurant_reviews.all.count == 0 %}
                      <span class='small m-0'>평가가 없습니다</span>
                      {% else %}
                      {% for i in ""|ljust:follow.avg_grade %}
                      <span>⭐</span>
                      {% endfor %}
                      <span>{{ follow.avg_grade|floatformat:"1" }}({{ follow.cnt_reviews }}명 평가)</span>
                      {% endif %}
                      </p>
                  </div>
                  </a>
                  </div>
                </div>
                {% endfor %}

                <!-- 한번 더 반복하기 -->

                {% for follow in restaurant_following %}
                <div class='slide'>
                  <div class="train-card bg-white p-0 position-relative">
                    <a href="{% url 'foods:restaurant_detail' team_pk=follow.team_id restaurant_pk=follow.pk %}" class="text-decoration-none text-dark">
                    {% for image in follow.restaurant_image.all %}
                    {% if forloop.counter == 1 %}
                    <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                    {% endif %}
                    {% endfor %}
                    <div class="card-body py-2 border-top mb-5 pb-3">
                      <h5 class="card-title text-center my-3">{{follow.name}}</h5>
                      <p class="card-text small mx-3">
                        {{follow.items}}
                      </p>
                    </div>
                    <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 pb-2">
                      <p class="small m-0 text-center">{{ follow.team.stadium.name }}</p>
                      <p class="small m-0 text-center">
                        {% if follow.cnt_followings %}
                        <span class='small m-0'>팔로우 {{ follow.cnt_followings }}</span>
                        {% else %}
                        <span class='small m-0'>팔로우가 없습니다</span>
                        {% endif %}
                      </p>
                      <p class="small m-0 text-center">
                      {% if follow.restaurant_reviews.all.count == 0 %}
                      <span class='small m-0'>평가가 없습니다</span>
                      {% else %}
                      {% for i in ""|ljust:follow.avg_grade %}
                      <span>⭐</span>
                      {% endfor %}
                      <span>{{ follow.avg_grade|floatformat:"1" }}({{ follow.cnt_reviews }}명 평가)</span>
                      {% endif %}
                      </p>
                  </div>
                  </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
            <!-- 카드 슬라이더 효과 -->
            <div class='slider'>
              <div class='slide-track'>
                {% for review in restaurant_review %}
                <div class='slide'>
                  <div class="train-card bg-white p-0 position-relative">
                    <a href="{% url 'foods:restaurant_detail' team_pk=review.team_id restaurant_pk=review.pk %}" class="text-decoration-none text-dark">
                    {% for image in review.restaurant_image.all %}
                      {% if forloop.counter == 1 %}
                          <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                          {% endif %}
                    {% endfor %}
                    <div class="card-body py-2 border-top">
                      <h5 class="card-title text-center my-3">{{review.name}}</h5>
                      <p class="card-text small mx-3">
                        {{review.items}}
                      </p>
                      <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 pb-2">
                        <p class="small m-0 text-center">{{ review.team.stadium.name }}</p>
                        <p class="small m-0 text-center">
                          {% if review.cnt_followings %}
                          <span class='small m-0'>팔로우 {{ review.cnt_followings }}</span>
                          {% else %}
                          <span class='small m-0'>팔로우가 없습니다</span>
                          {% endif %}
                        </p>
                        <p class="small m-0 text-center">
                        {% if review.restaurant_reviews.all.count == 0 %}
                        <span class='small m-0'>평가가 없습니다</span>
                        {% else %}
                        {% for i in ""|ljust:review.avg_grade %}
                        <span>⭐</span>
                        {% endfor %}
                        <span>{{ review.avg_grade|floatformat:"1" }}({{ review.cnt_reviews }}명 평가)</span>
                        {% endif %}
                        </p>
                    </div>
                    </div>
                  </a>
                  </div>
                </div>
                {% endfor %}

                <!-- 한번 더 반복하기 -->

                {% for review in restaurant_review %}
                <div class='slide'>
                  <div class="train-card bg-white p-0 position-relative">
                    <a href="{% url 'foods:restaurant_detail' team_pk=review.team_id restaurant_pk=review.pk %}" class="text-decoration-none text-dark">
                    {% for image in review.restaurant_image.all %}
                      {% if forloop.counter == 1 %}
                          <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                          {% endif %}
                    {% endfor %}
                    <div class="card-body py-2 border-top">
                      <h5 class="card-title text-center my-3">{{review.name}}</h5>
                      <p class="card-text small mx-3">
                        {{review.items}}
                      </p>
                      <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 pb-2">
                        <p class="small m-0 text-center">{{ review.team.stadium.name }}</p>
                        <p class="small m-0 text-center">
                          {% if review.cnt_followings %}
                          <span class='small m-0'>팔로우 {{ review.cnt_followings }}</span>
                          {% else %}
                          <span class='small m-0'>팔로우가 없습니다</span>
                          {% endif %}
                        </p>
                        <p class="small m-0 text-center">
                        {% if review.restaurant_reviews.all.count == 0 %}
                        <span class='small m-0'>평가가 없습니다</span>
                        {% else %}
                        {% for i in ""|ljust:review.avg_grade %}
                        <span>⭐</span>
                        {% endfor %}
                        <span>{{ review.avg_grade|floatformat:"1" }}({{ review.cnt_reviews }}명 평가)</span>
                        {% endif %}
                        </p>
                    </div>
                    </div>
                  </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        
    </div>
</div>
</div>
{% block script %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6bd32552e80c3bdb46ce44eb2fd8bdcc&libraries=services"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
    mapOption = { 
        center: new kakao.maps.LatLng({{ stadium.lat }}, {{ stadium.lon }}), // 지도의 중심좌표
        level: 2 // 지도의 확대 레벨
    };
var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
var new_dicts = {};
var positions = [];
// 마커를 표시할 위치와 title 객체 배열입니다 
    {% for store in stores %}
        var name = "{{ store.name }}";
        var lat = {{ store.lat }};
        var lon = {{ store.lon }};
        new_dicts['name'] = name;
        new_dicts['latlng'] = new kakao.maps.LatLng(lat,lon)
        new_dicts['pk'] = {{ store.pk }}
        new_dicts['address'] = "{{ store.detail }}"
        new_dicts['image'] = "{{ store.store_image }}"
        positions.push(new_dicts);
        var new_dicts = {};
    {% endfor %}
// 마커 이미지의 이미지 주소입니다
var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
// 마커 이미지의 이미지 크기 입니다
var imageSize = new kakao.maps.Size(24, 35); 
// 마커 이미지를 생성합니다    
var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
    
positions.forEach(function (pos) {
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: pos.latlng, // 마커를 표시할 위치
        image : markerImage // 마커 이미지 
    });
    var content = document.createElement("div");
    var content_middle = document.createElement("div");
    var content_div = document.createElement("div");
    
    content.className = 'overlay';
    content_middle.className = "overlay_middle";
    content_div.className = 'overlay_name';
    content_div.innerHTML = pos.name;
    content_middle.appendChild(content_div);
    var closeBtn = document.createElement("button");
    var quitBtn = document.createElement("p");
    quitBtn.innerHTML = "❌";
    closeBtn.appendChild(quitBtn)
    closeBtn.onclick = function() {
        overlay.setMap(null);
    }
    content_middle.appendChild(closeBtn);
    content.appendChild(content_middle);
    if ( {{ team.pk }} === 3) {
        content.insertAdjacentHTML('beforeend', `
        <div class="content_add">
            <p>여기 이미지 어떻게 넣지</p>
            <div class="content_text">
                <a class="address" href="/foods/9/store/${pos.pk}">
                    ${pos.address}
                </a>
            </div>
        </div>
    `);
    }
    else {
    content.insertAdjacentHTML('beforeend', `
    <div class="content_add">
        <p>여기 이미지 어떻게 넣지</p>
        <div class="content_text">
            <a class="address" href="/foods/{{ team.pk }}/store/${pos.pk}">
                ${pos.address}
            </a>
        </div>
    </div>
    `);
    }
    var overlay = new kakao.maps.CustomOverlay({
        {% comment %} clickable: true, {% endcomment %}
        content: content,
        position: pos.latlng,
        xAnchor: 0.5,
        yAnchor: 1.5,
    });
    kakao.maps.event.addListener(marker, 'click', function() {
        overlay.setMap(map);
    });
});
var coords = new kakao.maps.LatLng({{ stadium.lat }}, {{ stadium.lon }});
var marker = new kakao.maps.Marker({
    map: map,
    position: coords
});
{% comment %} for (var i = 0; i < positions.length; i ++) {
    // 마커에 표시할 인포윈도우를 생성합니다 
    var infowindow = new kakao.maps.InfoWindow({
        content: positions[i].content // 인포윈도우에 표시할 내용
    });
    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
    // 이벤트 리스너로는 클로저를 만들어 등록합니다 
    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
} {% endcomment %}
var customOverlay = new kakao.maps.CustomOverlay({
    map: map,
    clickable: true,
    content: '<div class="customOverlay">{{ stadium.name }}</div>',
    position: new kakao.maps.LatLng({{ stadium.lat }}, {{ stadium.lon }}),
    xAnchor: 0.5,
    yAnchor: 2,
    
});
customOverlay.setMap(null)
// 마커에 마우스오버 이벤트를 등록합니다
kakao.maps.event.addListener(marker, 'mouseover', function() {
    // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
    customOverlay.setMap(map)
  });
  
// 마커에 마우스아웃 이벤트를 등록합니다
kakao.maps.event.addListener(marker, 'mouseout', function() {
    // 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
    customOverlay.setMap(null)
});
</script>
{% endblock script %}
{% endblock content %}