{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/foods/home/home.css' %}">
{% endblock css %}
{% block content %}
<style>
    li#page-now > a.page-link {
      background-color: {{ team.color }};
      border-color:{{ team.color }};
      color:white;
    }
    li#page-notnow > a.page-link {
        background-color: ;
        border-color:{{ team.color }};
        color:{{ team.color }};
    }
    li#page-pre > a.page-link {
        color:black;
        border-color:{{ team.color }};
    }
    li#page-next > a.page-link {
        color:black;
        border-color:{{ team.color }};
    }
</style>
<div class="container slide-in" id="page2" >
    <h1 class="food_title">{{ team.name }}</h1>
    <div class="symbol">
        <img class="team_logo" src="{{ team.logo.url }}" alt="">
        <div id="map" style="width:100%;height:400px;"></div>
    </div>
    <div class="container text-center py-3" style="border-top: 0.5rem solid {{ team.color }}; border-bottom: 0.5rem solid {{ team.color }}">
        <h1>구장 밖 음식점</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 d-flex justify-content-around p-3">
            {% for restaurant in restaurants %}
            <div class="d-flex justify-content-center p-1">
                <div class="border border-1 bg-white p-0 position-relative train-card">
                    <a href="{% url 'foods:restaurant_detail' team.pk restaurant.pk %}">
                    {% for image in restaurant.restaurant_image.all %}
                    {% if forloop.counter == 1 %}
                    <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                    {% endif %}
                    {% endfor %}
                    </a>
                    <div class="card-body py-2 border-top mb-5">
                        <h5 class="card-title text-center my-3">{{ restaurant.name }}</h5>
                        <p class="card-text small mx-3">
                        {{ restaurant.items }}
                        </p>
                    </div>
                    <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 pb-2">
                        <p class="small m-0">{{ restaurant.team.stadium.name}}</p>
                        <p class="small m-0 text-center">
                            {% if restaurant.cnt_followings %}
                            <span class='small m-0'>팔로우 {{ restaurant.cnt_followings }}</span>
                            {% else %}
                            <span class='small m-0'>팔로우가 없습니다</span>
                            {% endif %}
                          </p>
                        <p class="small m-0">
                        {% if restaurant.restaurant_reviews.all.count == 0 %}
                        <span class='small m-0'>평가가 없습니다</span>
                        {% else %}
                        {% for i in ""|ljust:restaurant.avg_grade %}
                        <span>⭐</span>
                        {% endfor %}
                        <span>{{ restaurant.avg_grade|floatformat:"1" }}({{ restaurant.cnt_reviews }}명 평가)</span>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if restaurants.has_previous %}
            <li class="page-item mx-0" id="page-pre">
                <a class="page-link" href="?page={{ restaurants.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled mx-0" id="page-pre">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in restaurants.paginator.page_range %}
            {% if page_number >= restaurants.number|add:-3 and page_number <= restaurants.number|add:3 %}
            {% if page_number == restaurants.number %}
            <li class="page-item active mx-0" aria-current="page" id="page-now">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item mx-0" id="page-notnow">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if restaurants.has_next %}
            <li class="page-item mx-0" id="page-next">
                <a class="page-link" href="?page={{ restaurants.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled mx-0" id="page-next">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
          </ul>
    </div>
</div>
{% block script %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6bd32552e80c3bdb46ce44eb2fd8bdcc&libraries=services"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
    mapOption = { 
        center: new kakao.maps.LatLng({{ stadium.lat }}, {{ stadium.lon }}), // 지도의 중심좌표
        level: 2 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
 
var new_dicts = {};
var positions = [];

// 마커를 표시할 위치와 title 객체 배열입니다 
    {% for restaurant in restaurants %}
        var name = "{{ restaurant.name }}";
        var lat = {{ restaurant.lat }};
        var lon = {{ restaurant.lon }};
        new_dicts['name'] = name;
        new_dicts['latlng'] = new kakao.maps.LatLng(lat,lon)
        positions.push(new_dicts);
        var new_dicts = {};
    {% endfor %}

// 마커 이미지의 이미지 주소입니다
var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
    
for (var i = 0; i < positions.length; i ++) {
    // 마커 이미지의 이미지 크기 입니다
    var imageSize = new kakao.maps.Size(24, 35); 
    
    // 마커 이미지를 생성합니다    
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
    
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng, // 마커를 표시할 위치
        title : positions[i].name, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        image : markerImage // 마커 이미지 
    });
}

var coords = new kakao.maps.LatLng({{ stadium.lat }}, {{ stadium.lon }});

var marker = new kakao.maps.Marker({
    map: map,
    position: coords
});

var customOverlay = new kakao.maps.CustomOverlay({
    map: map,
    clickable: true,
    content: '<div class="customOverlay">{{ stadium.name }}</div>',
    position: new kakao.maps.LatLng({{ stadium.lat }}, {{ stadium.lon }}),
    xAnchor: 0.5,
    yAnchor: 2,
    
});

customOverlay.setMap(null)
// 마커에 마우스오버 이벤트를 등록합니다
kakao.maps.event.addListener(marker, 'mouseover', function() {
    // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
    customOverlay.setMap(map)
  });
  
// 마커에 마우스아웃 이벤트를 등록합니다
kakao.maps.event.addListener(marker, 'mouseout', function() {
    // 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
    customOverlay.setMap(null)
});
    {% comment %} var geocoder = new kakao.maps.services.Geocoder();

    geocoder.addressSearch("{{ stadium.address }}", function(result, status) {
    
        // 정상적으로 검색이 완료됐으면 
         if (status === kakao.maps.services.Status.OK) {
            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });
    
            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:auto;text-align:center;padding:6px 0;">{{ stadium.name }}</div>'
            });

            infowindow.open(map, marker);
            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(35.19545081038179,129.06733276110197);
        } 
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
    // 주소로 좌표를 검색합니다
    }); {% endcomment %}
</script>
{% endblock script %}
{% endblock content %}