{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load tag_check %}
{% load static %}
{% bootstrap_css %}

{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>
    .baseball {
      max-width: 2.5rem;
      max-height: 2.5rem;
      width:calc(0.8rem + 1vw);
      height:calc(0.8rem + 1vw);
      background-image: url('{% static 'CSS/baseball.png' %}');
      background-size: contain;
    }
    .baseball-fill {
      max-width: 2.5rem;
      max-height: 2.5rem;
      width:calc(0.8rem + 1vw);
      height:calc(0.8rem + 1vw);
      background-image: url('{% static 'CSS/baseball_fill.png' %}');
      background-size: contain;
    }
    #review-btn {
        border-color:{{ restaurant.team.color }};
        background-color:{{ restaurant.team.color }};
        color:white;
        width:100px;
        height:40px;
        font-size:16px;
        border-radius:5px;
      }
    #container {overflow:hidden;height:300px;position:relative;}
    #mapWrapper {width:100%;height:300px;z-index:1;}
    #rvWrapper {width:50%;height:300px;top:0;right:0;position:absolute;z-index:0;}
    #container.view_roadview #mapWrapper {width: 50%;}
    #roadviewControl {position:absolute;top:5px;left:5px;width:42px;height:42px;z-index: 1;cursor: pointer; background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) 0 -450px no-repeat;}
    #roadviewControl.active {background-position:0 -350px;}
    #close {position: absolute;padding: 4px;top: 5px;left: 5px;cursor: pointer;background: #fff;border-radius: 4px;border: 1px solid #c8c8c8;box-shadow: 0px 1px #888;}
    #close .img {display: block;background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/rv_close.png) no-repeat;width: 14px;height: 14px;}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">


<div class='container mt-3'>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'articles:index' %}" style="color:black; font_weight:bold;">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'foods:home' team.pk %}" style="color:black; font_weight:bold;">{{ team.name}}의 먹거리</a></li>
    <li class="breadcrumb-item"><a href="{% url 'foods:restaurant_all' team.pk %}" style="color:black; font_weight:bold;">구장 밖 음식점</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ restaurant.name }}</li>
  </ol>
</nav>
    <div class='d-flex  flex-column align-items-center'>
        <div class='store-detail-box' style="width:100vw; max-width:760px; margin:0.6rem 0 0.6rem 0;padding:0 0 2rem 0;background-color:white;">
            <div style="width:100vw;height:50vw; max-width:760px; max-height:400px; background-image:url('{{ restaurant_img.image.url }}'); background-position:center;"></div>
                <div class="title-box d-flex justify-content-center align-items-center">
                    <div class='d-flex flex-column justify-content-center align-items-center fw-bold shadow-sm' style="position:relative; top:-40px; z-index:10; width:700px; height:200px; background-color:white; font-size: calc(1.5rem + 1.5vw); font-weight:500;">
                        {{ restaurant.name }}
                        <div class='d-flex justify-content-start align-items-center my-1'>
                            {% if restaurant.restaurant_reviews.all.count == 0 %}
                            <div style="font-size:1.4rem;">⭐ 0</div>
                            {% else %}
                            <div style="font-size:1.4rem;">⭐ {{ restaurant.grade_avg|floatformat:"1" }}</div>
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-center">
                            <div style="font-size:calc(0.8rem + 1vw); margin-left: 5px;">후기 {{ restaurant.restaurant_reviews.all.count }}•</div>
                            <div style="font-size:calc(0.8rem + 1vw); margin-left: 5px;">팔로워 <b id='followers'>{{ restaurant.following_users.count }}</b>•</div>
                            <div style="font-size:calc(0.8rem + 1vw); margin-left: 5px;">팔로우 :</div>
                            <div class="d-flex justify-content-start align-items-center">
                                {% if request.user in restaurant.following_users.all %}
                                <div id='follow' data-restaurant-id='{{ restaurant.pk }}' data-team-id='{{ restaurant.team.pk }}' class='baseball-fill' style="cursor:pointer"></div>
                                {% else %}
                                <div id='follow' data-restaurant-id='{{ restaurant.pk }}' data-team-id='{{ restaurant.team.pk }}' class='baseball' style="cursor:pointer"></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            <div class="px-5">
                <div class="fw-bold py-1 d-flex align-items-center" style="font-size:20px;">위치 정보<span class="material-symbols-outlined">
                    location_on
                    </span>
                </div>
                <div class="d-flex align-items-center">
                    <p style="font-size:16px;">
                    {{ restaurant.address }}</p>
                </div>
            </div>
        </div>
        <div class='store-detail-box' style="width:100vw; max-width:760px; margin:0.6rem 0 0.6rem 0;padding:2rem 0 2rem 0;background-color:white;">
            <div class="px-5">
                <p class="fw-bold d-flex align-items-center" style="font-size:20px;">내용<span class="material-symbols-outlined">
                rate_review
                </span></p>
                <div class="d-flex align-items-center">
                    <p style="font-size:16px;">
                    {{ restaurant.content }}</p>
                </div>
            </div>
        </div>
        <div class='store-detail-box' style="width:100vw; max-width:760px; margin:0.6rem 0 0.6rem 0;padding:2rem 0 2rem 0;background-color:white;">
            <div class="px-5">
                <p class="fw-bold" style="font-size:20px;">사진</p>
                <div class="row">
                {% for image in restaurant.restaurant_image.all %}
                    <img class="col-12 col-sm-6" src="{{ image.image.url }}" alt="{{ image.image }}" style="padding:2px; width:41vw; max-width:342px; height:41vw; max-height:342px;">
                {% endfor %}
                </div>
            </div>
        </div>
        <div class='store-detail-box' style="width:100vw; max-width:760px; margin:0.6rem 0 0.6rem 0;padding:2rem 0 2rem 0;background-color:white;">
            <div class="px-5">
                <div class="d-flex justify-content-between">
                    <div class="row w-100">
                        <div class='col-12'>
                            <p class="fw-bold" style="font-size:20px;">리뷰</p>
                            <p class="my-1">{{user.nickname}}님 후기를 남겨주세요.</p>
                        </div>
                        <!-- Button trigger modal -->
                        <form action="{% url 'foods:restaurant_review_create' restaurant.team_id restaurant.pk %}" id="myform" class="col-12">
                            <fieldset class="my-1 star-size p-0 w-100 text-center">
                                <input class="open-Star" type="button" name="star" value="5" id="rate1" data-id="5" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><label for="rate1">⭐</label>
                                <input class="open-Star" type="button" name="star" value="4" id="rate2" data-id="4" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><label for="rate2">⭐</label>
                                <input class="open-Star" type="button" name="star" value="3" id="rate3" data-id="3" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><label for="rate3">⭐</label>
                                <input class="open-Star" type="button" name="star" value="2" id="rate4" data-id="2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><label for="rate4">⭐</label>
                                <input class="open-Star" type="button" name="star" value="1" id="rate5" data-id="1" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><label for="rate5">⭐</label>
                            </fieldset>
                        </form>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                <form action="{% url 'foods:restaurant_review_create' restaurant.team_id restaurant.pk %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="d-flex justify-content-between align-items-center w-100">
                                        <a type="a" class="secondary" data-bs-dismiss="modal" style="text-decoration:none; color:black;">취소</a>
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{restaurant.name}}</h1>
                                        <button id="review-btn d-flex align-self-center" style="width:40px; text-decoration:none; background-color:#00000000; border:0; color:rgb(57,125,246);" type="submit">등록</button>
                                    </div>
                                    <hr>
                                    {% bootstrap_form review_form %}
                                    {% bootstrap_form reviewimage_form %}
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='store-detail-box' style="width:100vw; max-width:760px; margin:0.6rem 0 0.6rem 0;padding:2rem 0 2rem 0;background-color:white;">                    
            <div class="px-5">
                <p class="fw-bold" style="font-size:20px;">전체•<span style="color:skyblue; font-size:20px;">{{restaurant.restaurant_reviews.all.count}}<span></p>
                <div class="d-flex">
                    {% if restaurant.restaurant_reviews.all.count == 0 %}
                    <div style="font-size:1.4rem; margin-right:10px;">⭐ 0</div>
                    {% else %}
                    <div style="transform:scale(1.5);" class="ms-4 mt-1">
                        {% if restaurant.grade_avg >= 5 %}
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        {% elif restaurant.grade_avg >= 4 %}
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        {% elif restaurant.grade_avg >= 3 %}
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        {% elif restaurant.grade_avg >= 2 %}
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        {% elif restaurant.grade_avg >= 1 %}
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        {% endif %}
                        
                    </div>
                    
                {% endif %}
                </div>
                {% for review in restaurant.restaurant_reviews.all reversed %}
                <hr>
                <div>
                    <div class="mb-2">
                        {% if review.grade >= 5 %}
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        {% elif review.grade >= 4 %}
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        {% elif review.grade >= 3 %}
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        {% elif review.grade >= 2 %}
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        {% elif review.grade >= 1 %}
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        <i class="bi bi-star-fill text-secondary"></i>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-between">
                        <div style="font-size:16px; font-weight:bold;"><img src="{{ review.user.team.logo.url }}" alt="" style="width: 30px; height: 30px; margin-right:5px;">{{ review.user.username }} | <span style="font-size:14px; color:gray; font-weight:400;">{{review.created_at|date:'Y.m.d A h:i'}}</span></div>
                        <div class="btn" style="position:relative; right:0;" data-bs-toggle="collapse" href="#collapse{{ review.pk }}" role="button" aria-expanded="false" aria-controls="collapse{{ review.pk }}">
                            <span class="material-symbols-outlined">
                            more_vert
                            </span>
                        </div>
                    </div>
                </div>
                {{ review|tag_check|safe }}
                <div class='row'>
                    {% for image in review.review_image.all %}
                    <div class='col-3'>
                        <img class='my-2' src="{{ image.image.url }}" style='width:100%'>
                    </div>
                    {% endfor %}
                </div>
                {% if request.user == review.user%}
                <div class='d-flex justify-content-end'>
                    <button style="text-decoration:none;" class="badge rounded-pill text-bg-dark" data-bs-toggle="modal" data-bs-target="#delete{{ review.pk }}">삭제</button>
                    <div class="modal fade" id="delete{{ review.pk }}" tabindex="-1" aria-labelledby="delete{{ review.pk }}label" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="delete{{ review.pk }}label">리뷰 삭제</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            리뷰를 삭제하시겠습니까?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니요</button>
                            <a class="btn btn-danger" href="{% url 'foods:restaurant_review_delete' restaurant.team_id restaurant.pk review.pk %}">삭제</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                             
                {% endfor %}
            </div>
        </div>
        <div class='store-detail-box' style="width:100vw; max-width:760px; margin:0.6rem 0 0.6rem 0;padding:0 0 2rem 0;background-color:white;">
            <div class='px-5'>
                <div class='col-12 col-md-5 mt-5'>
                    <p class="fw-bold" style="font-size:20px; pt-0">로드뷰</p>
                    <p class="my-3">로드뷰 버튼으로 위치를 확인하세요</p>
                </div>
                <div class='row d-flex justify-content-center'>
                    <div id="container">
                        <div id="rvWrapper">
                        <div id="roadview" style="width:100%;height:100%;"></div> <!-- 로드뷰를 표시할 div 입니다 -->
                        <div id="close" title="로드뷰닫기" onclick="closeRoadview()"><span class="img"></span></div>
                        </div>
                        <div id="mapWrapper">
                            <div id="map" style="width:100%; height:100%;"></div> <!-- 지도를 표시할 div 입니다 -->
                            {% comment %} <div id="map" class='my-3' style="width:100%;height:400px;"></div> {% endcomment %}
                            <div id="roadviewControl" onclick="setRoadviewRoad()"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- JavaScript Bundle with Popper -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6bd32552e80c3bdb46ce44eb2fd8bdcc&libraries=services"></script>
<script>
var overlayOn = false, // 지도 위에 로드뷰 오버레이가 추가된 상태를 가지고 있을 변수
container = document.getElementById('container'), // 지도와 로드뷰를 감싸고 있는 div 입니다
mapWrapper = document.getElementById('mapWrapper'), // 지도를 감싸고 있는 div 입니다
mapContainer = document.getElementById('map'), // 지도를 표시할 div 입니다 
rvContainer = document.getElementById('roadview'); //로드뷰를 표시할 div 입니다

// 지도 중심 좌표 설정
var mapCenter = new kakao.maps.LatLng(`{{ restaruant.lat }}` , `{{ restaruant.lon }}`)
mapOption = {
    center: mapCenter,
    level: 3
};

// 좌표를 주소로 변환  
var geocoder = new kakao.maps.services.Geocoder();
geocoder.addressSearch(`{{ restaurant.address }}`, function (result, status) {
    if (status === kakao.maps.services.Status.OK) {
    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
    map.setCenter(coords);
    }
});

// 지도를 표시할 div와 지도 옵션으로 지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption);
// 로드뷰 객체를 생성합니다 
var rv = new kakao.maps.Roadview(rvContainer); 
// 좌표로부터 로드뷰 파노라마 ID를 가져올 로드뷰 클라이언트 객체를 생성합니다 
var rvClient = new kakao.maps.RoadviewClient(); 
// 로드뷰에 좌표가 바뀌었을 때 발생하는 이벤트를 등록합니다 
kakao.maps.event.addListener(rv, 'position_changed', function() {
    // 현재 로드뷰의 위치 좌표를 얻어옵니다 
    var rvPosition = rv.getPosition();
    // 지도의 중심을 현재 로드뷰의 위치로 설정합니다
    map.setCenter(rvPosition);
    // 지도 위에 로드뷰 도로 오버레이가 추가된 상태이면
    if(overlayOn) {
        // 마커의 위치를 현재 로드뷰의 위치로 설정합니다
        marker.setPosition(rvPosition);
    }
});
// 마커 이미지를 생성합니다
var markImage = new kakao.maps.MarkerImage(
'https://t1.daumcdn.net/localimg/localimages/07/2018/pc/roadview_minimap_wk_2018.png',
new kakao.maps.Size(26, 46),
{
    // 스프라이트 이미지를 사용합니다.
    // 스프라이트 이미지 전체의 크기를 지정하고
    spriteSize: new kakao.maps.Size(1666, 168),
    // 사용하고 싶은 영역의 좌상단 좌표를 입력합니다.
    // background-position으로 지정하는 값이며 부호는 반대입니다.
    spriteOrigin: new kakao.maps.Point(705, 114),
    offset: new kakao.maps.Point(13, 46)
}
);

// 드래그가 가능한 마커를 생성합니다
var marker = new kakao.maps.Marker({
image : markImage,
position: mapCenter,
draggable: true
});

// 마커에 dragend 이벤트를 등록합니다
kakao.maps.event.addListener(marker, 'dragend', function(mouseEvent) {

// 현재 마커가 놓인 자리의 좌표입니다 
var position = marker.getPosition();

// 마커가 놓인 위치를 기준으로 로드뷰를 설정합니다
toggleRoadview(position);
});

//지도에 클릭 이벤트를 등록합니다
kakao.maps.event.addListener(map, 'click', function(mouseEvent){

// 지도 위에 로드뷰 도로 오버레이가 추가된 상태가 아니면 클릭이벤트를 무시합니다 
if(!overlayOn) {
    return;
}

// 클릭한 위치의 좌표입니다 
var position = mouseEvent.latLng;

// 마커를 클릭한 위치로 옮깁니다
marker.setPosition(position);

// 클락한 위치를 기준으로 로드뷰를 설정합니다
toggleRoadview(position);
});

// 전달받은 좌표(position)에 가까운 로드뷰의 파노라마 ID를 추출하여
// 로드뷰를 설정하는 함수입니다
function toggleRoadview(position){
rvClient.getNearestPanoId(position, 50, function(panoId) {
    // 파노라마 ID가 null 이면 로드뷰를 숨깁니다
    if (panoId === null) {
        toggleMapWrapper(true, position);
    } else {
        toggleMapWrapper(false, position);

        // panoId로 로드뷰를 설정합니다
        rv.setPanoId(panoId, position);
    }
});
}

// 지도를 감싸고 있는 div의 크기를 조정하는 함수입니다
function toggleMapWrapper(active, position) {
if (active) {

    // 지도를 감싸고 있는 div의 너비가 100%가 되도록 class를 변경합니다 
    container.className = '';

    // 지도의 크기가 변경되었기 때문에 relayout 함수를 호출합니다
    map.relayout();

    // 지도의 너비가 변경될 때 지도중심을 입력받은 위치(position)로 설정합니다
    map.setCenter(position);
} else {

    // 지도만 보여지고 있는 상태이면 지도의 너비가 50%가 되도록 class를 변경하여
    // 로드뷰가 함께 표시되게 합니다
    if (container.className.indexOf('view_roadview') === -1) {
        container.className = 'view_roadview';

        // 지도의 크기가 변경되었기 때문에 relayout 함수를 호출합니다
        map.relayout();

        // 지도의 너비가 변경될 때 지도중심을 입력받은 위치(position)로 설정합니다
        map.setCenter(position);
    }
}
}

// 지도 위의 로드뷰 도로 오버레이를 추가,제거하는 함수입니다
function toggleOverlay(active) {
if (active) {
    overlayOn = true;

    // 지도 위에 로드뷰 도로 오버레이를 추가합니다
    map.addOverlayMapTypeId(kakao.maps.MapTypeId.ROADVIEW);

    // 지도 위에 마커를 표시합니다
    marker.setMap(map);

    // 마커의 위치를 지도 중심으로 설정합니다 
    marker.setPosition(map.getCenter());

    // 로드뷰의 위치를 지도 중심으로 설정합니다
    toggleRoadview(map.getCenter());
} else {
    overlayOn = false;

    // 지도 위의 로드뷰 도로 오버레이를 제거합니다
    map.removeOverlayMapTypeId(kakao.maps.MapTypeId.ROADVIEW);

    // 지도 위의 마커를 제거합니다
    marker.setMap(null);
}
}

// 지도 위의 로드뷰 버튼을 눌렀을 때 호출되는 함수입니다
function setRoadviewRoad() {
var control = document.getElementById('roadviewControl');

// 버튼이 눌린 상태가 아니면
if (control.className.indexOf('active') === -1) {
    control.className = 'active';

    // 로드뷰 도로 오버레이가 보이게 합니다
    toggleOverlay(true);
} else {
    control.className = '';

    // 로드뷰 도로 오버레이를 제거합니다
    toggleOverlay(false);
}
}

// 로드뷰에서 X버튼을 눌렀을 때 로드뷰를 지도 뒤로 숨기는 함수입니다
function closeRoadview() {
var position = marker.getPosition();
toggleMapWrapper(true, position);
}

// 로드뷰 말고 실제 음식점 위치도 좌표로 찍어주기

// 주소-좌표 변환 객체를 생성합니다
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(`{{ restaurant.lat }}`, `{{ restaurant.lon }}`), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
geocoder.addressSearch(`{{ restaurant.address }}`, function(result, status) {

    // 정상적으로 검색이 완료됐으면 
    if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: coords
        });
        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px; text-align:center; padding:6px 0;">{{ restaurant.name }}</div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    } 
});    
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const followBtn = document.querySelector('#follow')
    followBtn.addEventListener('click', function(event) {
        axios({
            method: 'get',
            url: `/foods/${event.target.dataset.teamId}/restaurant/${event.target.dataset.restaurantId}/follow/`,
        })
        .then(response => {
            if (response.data.restaurantFollow === true) {
                event.target.classList.add('baseball-fill')
                event.target.classList.remove('baseball')
            } else {
                event.target.classList.add('baseball')
                event.target.classList.remove('baseball-fill')
            } 
            const followers = document.querySelector('#followers')
            followers.innerText = response.data.restaurantFollowCount

        })
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
     
    var swiper = new Swiper(".slide-content", {
    slidesPerView: 4,
    spaceBetween: 10,
    loop: true,
    centerSlide: 'true',
    fade: 'true',
    grabCursor: 'true',
    pagination: {
    el: ".swiper-pagination",
    clickable: true,
    dynamicBullets: true,
    },
    navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
    },

    breakpoints:{
    0: {
        slidesPerView: 1,
    },
    768: {
        slidesPerView: 2,
    },
    992: {
        slidesPerView: 4,
    },
    },
    });

</script>
{% endblock %}