{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load tag_check %}
{% load static %}
{% block content %}
<div class="container">
  {% if field == '1' %}
    <div class="justify-content-center d-flex align-items-center">
      <img class="team_logo me-2" src="{{ team.logo.url }}" style="width: 7rem; height: 7rem;" alt="">
      <div class="d-flex flex-column mt-3">
        <a class="text-decoration-none text-black" href="{% url 'foods:home' team.pk %}">
            <h1 class="fw-bold" style="font-size:2.5rem;">{{ team.name }}<h1>
        </a>
        <p class="" style="color:gray; font-size:1.2rem;">"{{ searched }}" 매점 정보🍕</p>
      </div>
    </div>
    <div class="symbol mb-3">
      <div id="map" style="width:100%;height:400px;"></div>
    </div>
    <div class="container text-center py-3" style="border-top: 0.5rem solid {{ team.color }}; border-bottom: 0.5rem solid {{ team.color }}">
    <div class="row g-4 d-flex justify-content-around p-3">
      {% if result %}
        {% for r in result %}
          <div class="col-8 col-sm-7 col-md-5 col-lg-3 col-xl-3 mx-0  d-flex justify-content-center p-1">
            <div class="border border-1 bg-white p-0 position-relative train-card">
              <a href="{% url 'foods:store_detail' team.pk r.pk %}">
                {% for image in r.store_image.all %}
                  {% if forloop.counter == 1 %}
                    <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                  {% endif %}
                {% endfor %}
              </a>
              <div class="card-body py-2 border-top mb-5">
                <h5 class="card-title text-center my-3">{{ r.name }}</h5>
                <p class="card-text small mx-3">
                {{ r.items }}
                </p>
              </div>
              <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 pb-2">
                <p class="small m-0 text-center">{{ r.team.stadium.name}}</p>
                <p class="small m-0 text-center">
                  {% if r.cnt_followings %}
                  <span class='small m-0'>팔로우 {{ r.cnt_followings }}</span>
                  {% else %}
                  <span class='small m-0'>팔로우가 없습니다</span>
                  {% endif %}
                </p>
                <p class="small m-0 text-center">
                  {% if r.store_reviews.all.count == 0 %}
                    <span class='small m-0'>평가가 없습니다</span>
                  {% else %}
                  {% for i in ""|ljust:r.avg_grade %}
                    <span>⭐</span>
                  {% endfor %}
                    <span>{{ r.avg_grade }}({{ r.cnt_reviews }}명 평가)</span>
                  {% endif %}
                  </p>
              </div>
            </div>
          </div>
        {% endfor %}
        {% else %}
        <h3 class="">"{{ searched }}" 검색결과가 없습니다</h3>
      {% endif %}
      </div>
    </div>
  {% elif field == '2' %}
  <div class="justify-content-center d-flex align-items-center">
    <img class="team_logo me-2" src="{{ team.logo.url }}" style="width: 7rem; height: 7rem;" alt="">
    <div class="d-flex flex-column mt-3">
      <a class="text-decoration-none text-black" href="{% url 'foods:home' team.pk %}">
          <h1 class="fw-bold" style="font-size:2.5rem;">{{ team.name }}<h1>
      </a>
      <p class="" style="color:gray; font-size:1.2rem;">"{{ searched }}" 주변 맛집 정보🍕</p>
    </div>
  </div>
  <div class="symbol mb-3">
    <div id="map" style="width:100%;height:400px;"></div>
  </div>
  <div class="container text-center py-3" style="border-top: 0.5rem solid {{ team.color }}; border-bottom: 0.5rem solid {{ team.color }}">
  <div class="row g-4 d-flex justify-content-around p-3">
    {% if result %}
      {% for r in result %}
        <div class="col-8 col-sm-7 col-md-5 col-lg-3 col-xl-3 mx-0  d-flex justify-content-center p-1">
          <div class="border border-1 bg-white p-0 position-relative train-card">
            <a href="{% url 'foods:restaurant_detail' team.pk r.pk %}">
              {% for image in r.restaurant_image.all %}
                {% if forloop.counter == 1 %}
                  <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                {% endif %}
              {% endfor %}
            </a>
            <div class="card-body py-2 border-top mb-5">
              <h5 class="card-title text-center my-3">{{ r.name }}</h5>
              <p class="card-text small mx-3">
              {{ r.address }}
              </p>
            </div>
            <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 pb-2">
              <p class="small m-0 text-center">{{ r.team.stadium.name}}</p>
              <p class="small m-0 text-center">
                {% if r.cnt_followings %}
                <span class='small m-0'>팔로우 {{ r.cnt_followings }}</span>
                {% else %}
                <span class='small m-0'>팔로우가 없습니다</span>
                {% endif %}
              </p>
              <p class="small m-0 text-center">
                {% if r.restaurant_reviews.all.count == 0 %}
                  <span class='small m-0'>평가가 없습니다</span>
                {% else %}
                {% for i in ""|ljust:r.avg_grade %}
                  <span>⭐</span>
                {% endfor %}
                  <span>{{ r.avg_grade }}({{ r.cnt_reviews }}명 평가)</span>
                {% endif %}
                </p>
            </div>
          </div>
        </div>
      {% endfor %}
      {% else %}
      <h3 class="">"{{ searched }}" 검색결과가 없습니다</h3>
    {% endif %}
    </div>
  </div>
  {% endif %}
</div>

{% block script %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6bd32552e80c3bdb46ce44eb2fd8bdcc&libraries=services"></script>
<script>
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
  mapOption = { 
      center: new kakao.maps.LatLng({{ stadium.lat }}, {{ stadium.lon }}), // 지도의 중심좌표
      level: 2 // 지도의 확대 레벨
  };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

var new_dicts = {};
var positions = [];

// 마커를 표시할 위치와 title 객체 배열입니다 
  {% for r in result %}
      var name = "{{ r.name }}";
      console.log({{r.lat}})
      var lat = {{ r.lat }};
      var lon = {{ r.lon }};
      new_dicts['name'] = name;
      new_dicts['latlng'] = new kakao.maps.LatLng(lat,lon)
      positions.push(new_dicts);
      var new_dicts = {};
  {% endfor %}

// 마커 이미지의 이미지 주소입니다
var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
  
for (var i = 0; i < positions.length; i ++) {
  // 마커 이미지의 이미지 크기 입니다
  var imageSize = new kakao.maps.Size(24, 35); 
  
  // 마커 이미지를 생성합니다    
  var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
  
  // 마커를 생성합니다
  var marker = new kakao.maps.Marker({
      map: map, // 마커를 표시할 지도
      position: positions[i].latlng, // 마커를 표시할 위치
      title : positions[i].name, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
      image : markerImage // 마커 이미지 
  });
}

var coords = new kakao.maps.LatLng({{ stadium.lat }}, {{ stadium.lon }});

var marker = new kakao.maps.Marker({
  map: map,
  position: coords
});

var customOverlay = new kakao.maps.CustomOverlay({
  map: map,
  clickable: true,
  content: '<div class="customOverlay">{{ stadium.name }}</div>',
  position: new kakao.maps.LatLng({{ stadium.lat }}, {{ stadium.lon }}),
  xAnchor: 0.5,
  yAnchor: 2,
  
});

customOverlay.setMap(null)
// 마커에 마우스오버 이벤트를 등록합니다
kakao.maps.event.addListener(marker, 'mouseover', function() {
  // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
  customOverlay.setMap(map)
});

// 마커에 마우스아웃 이벤트를 등록합니다
kakao.maps.event.addListener(marker, 'mouseout', function() {
  // 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
  customOverlay.setMap(null)
});
  {% comment %} var geocoder = new kakao.maps.services.Geocoder();

  geocoder.addressSearch("{{ stadium.address }}", function(result, status) {
  
      // 정상적으로 검색이 완료됐으면 
       if (status === kakao.maps.services.Status.OK) {
          var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

          // 결과값으로 받은 위치를 마커로 표시합니다
          var marker = new kakao.maps.Marker({
              map: map,
              position: coords
          });
  
          // 인포윈도우로 장소에 대한 설명을 표시합니다
          var infowindow = new kakao.maps.InfoWindow({
              content: '<div style="width:auto;text-align:center;padding:6px 0;">{{ stadium.name }}</div>'
          });

          infowindow.open(map, marker);
          // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
          map.setCenter(35.19545081038179,129.06733276110197);
      } 
  var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
  // 주소로 좌표를 검색합니다
  }); {% endcomment %}
</script>
{% endblock script %}
{% endblock %}