.intro-box { width: 100vw; height: 100vh; overflow: hidden;margin: 0px auto; position: fixed; top:5rem; z-index: 100; transform:scale(1.3);}
.intro-mv { width: 100%; }
.jb-text { position: absolute; top: 50%; width: 100%; }
.jb-text p { margin-top: -24px; text-align: center; font-size: 48px; color: #ffffff; }
.intro-bg{
  z-index:100;
  height:100em;
  background-color: black;
}

.movie-box {
  padding: 0px;
  margin: 0px;
  /* border-style: solid;
  border-width: 10px;
  border-color: rgb(255, 0, 0); */
}

.jb-box {
  width: 100%;
  height: 47rem;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
}

video {
  width: 100%;
}

.banner-mv{
  position: relative;
  top:-11vw;
}

.jb-text {
  position: absolute;
  top: 50%;
  width: 100%;
}

.jb-text p {
  margin-top: -24px;
  text-align: center;
  font-size: 48px;
  color: #000000;
}


/*--------------------------------------------------------------------------------------------*/

body {
  background-color: beige;
}

.navbar{
  z-index: 9;
}

.container {
  margin-top: 5rem;
}

.logo-img {
  height: 5rem;
  padding: 0;
}

.nav-sticky{
  position:sticky;
  top:0;
}

.nav-custom{
  width: 100%;
}

.nav-img {
  padding: 0;
}

.nav-item {
  color: white;
}

.nav-main-menu {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin: 0 1rem 0 1rem;
}

footer {
  padding-top: 5rem;
  background-color: black;
  height: 15rem;
  text-align: center;
  color: #ffffff;
  margin-top: 15rem
}


.team-choice-box {
  width: 100%;
  background-color: rgb(195, 195, 195);
  border-radius: 10px;
}

.card {
  width: 200px;
  height: 200px;
}

.card-text {
  font-size: 20px;
}

.community-top5-review {
  background-color: #000000ba;
  color: white;
  text-align: center;
}

/* COMMUINITY */

.community-box {
  margin-top: 5rem;
}

.community-table-head {
  text-align: center;
  background-color: rgb(255, 102, 0);
}

.pagination-custom {
  list-style: none;
  display: flex;
}

.page-item {
  margin: 0 1rem 0 1rem;
}

