{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<section class="">
    <div class="container py-5 h-100 mt-1">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="border rounded-3" style="background-image: url({% static 'images/hotdog.jpg' %});background-size: cover;background-repeat:no-repeat">
            <div class="row g-0">
              <div class="col-md-6 col-lg-6 d-none d-md-block">
              </div>
              <div class="col-md-6 col-lg-6 d-flex align-items-center" style="background:#FFFFFF50">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form action="{% url 'accounts:login' %}" method="POST">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <h1 class="mb-0" style="letter-spacing: 3px;font-size:3.5rem; font-weight:900; font-family: 'Anton', sans-serif;">YAMMYCHU</h1>
                    </div>
                    <h5 class="fw-normal mb-3 pb-3 fw-bold" style="letter-spacing: 1px;">LOGIN</h5>
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                      <input type="text" id="id_username" name="username" placeholder="ID" class="form-control rounded-1"/>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="password" id="id_password" name="password" placeholder="password" class="form-control rounded-1" />
                    </div>
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-block" type="submit" style="min-width:100%">로그인</button>
                    </div>
                  </form>
                  <div class="pt-1 mb-4">
                    <a class="btn btn-dark btn-block text-white" type="button" style="min-width:100%" href="{% url 'accounts:signup' %}">회원가입</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}