{% extends 'base.html' %}
{% block content %}
{% load django_bootstrap5 %}
<div class="container d-flex justify-content-center py-5">
    <div class="col-8 bg-white">
        <div class="rounded-4 shadow-lg p-2">
            <h1 class="text-center mt-5 fs-3 fw-bold text-black">비밀번호 변경</h1>
            <div class="card-body">
                <form action="{% url 'accounts:password' %}" method="POST" class="px-5 py-3">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-grid gap-2">
                      <input type="submit" class="btn btn-dark mt-5 mb-2">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}