{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
<style>
  .vl {
    border-left: 2px solid black;
    height: 90px;
    left: 50%;
    margin-left: -3px;
    top: 0;
    border-color: #BDBDBD
  }
  </style>
<div class="container">
  <div class="mx-auto m-5 p-5 text-center bg-white col-10 col-lg-10 col-xl-8 col-xxl-7 rounded-4" style="box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 20%);">
    <div class="p-2 justify-content-center">
      <div>
        {% if team %}
        <img src="{{ team.logo.url }}" class="rounded-circle" style="width: 12rem; height: 12rem;">
        {% else %}
        <img src="{% static 'images/logo.png' %}" class="rounded-circle" style="width: 12rem; height: 12rem;">
        {% endif %}
      </div>
      <div class="mt-2 my-auto">
        <h2 class="fw-bolder">{{ nickname }}</h2>
      </div>
      <h5 class="text-secondary mt-2">
        <span>{{ request_user.username }}</span>|
        <span>{{ request_user.last_name }}</span>|
        <span>{{ request_user.email }}</span>
      </h5>
    </div>
    <div class="d-flex justify-content-center my-2">
      <div data-bs-toggle="modal" data-bs-target="#exampleModal1" class="p-3 text-center" style="cursor : pointer;">
        <p class="fw-bold">팔로우</p>
        <p id="followers-count" class="mb-0 fw-bold">{{ request_user.followers.all|length }}</p>
      </div>
      <span class="vl mx-5"></span>
      <div data-bs-toggle="modal" data-bs-target="#exampleModal2" class="p-3 text-center" style="cursor : pointer;">
        <p class="fw-bold">팔로잉</p>
        <p id="followings-count" class="mb-0 fw-bold">{{ request_user.followings.all|length }}</p>
      </div>
    </div>
    <div class="mt-4">
      {% if request.user.is_authenticated %}
        {% if request.user == request_user %}
          <form action="{% url 'accounts:update' %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-dark w-100" value="정보 수정">
          </form>
        {% else %}
          <form id="follow-form" data-user-id="{{ request_user.pk }}">
            {% csrf_token %}
            {% if request.user in request_user.followers.all %}
              <input type="submit" value="언팔로우" class="btn btn-outline-dark w-100">
            {% else %}
              <input type="submit" value="팔로우" class="btn btn-dark w-100">
            {% endif %}
          </form>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="mx-auto m-5 p-5 bg-white col-10 col-lg-10 col-xl-8 col-xxl-7 rounded-4" style="box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 20%);">
    <h2 class="text-center"><span class="fw-bold">{{ nickname }}</span> 님의 활동내역</h2>
    <div class="d-flex justify-content-evenly p-3">
      <div class="btn-group" role="group">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <lord-icon
          src="https://cdn.lordicon.com/coqbeapw.json"
          trigger="hover"
          colors="primary:#000000,secondary:#848484"
          style="width:70px;height:70px">
          </lord-icon>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" style="cursor : pointer;" data-bs-toggle="modal" data-bs-target="#snackbar">좋아요한 스낵바</a></li>
          <li><a class="dropdown-item" style="cursor : pointer;" data-bs-toggle="modal" data-bs-target="#review">좋아요한 주변맛집</a></li>
          <li><a class="dropdown-item" style="cursor : pointer;" data-bs-toggle="modal" data-bs-target="#myreview">내가 쓴 리뷰</a></li>
        </ul>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <lord-icon
          src="https://cdn.lordicon.com/zpxybbhl.json"
          trigger="hover"
          colors="primary:#121331,secondary:#848484"
          style="width:70px;height:70px">
          </lord-icon>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" style="cursor : pointer;" data-bs-toggle="modal" data-bs-target="#article">좋아요한 게시글</a></li>
          <li><a class="dropdown-item" style="cursor : pointer;" data-bs-toggle="modal" data-bs-target="#myarticle">작성한 게시글</a></li>
          <li><a class="dropdown-item" style="cursor : pointer;" data-bs-toggle="modal" data-bs-target="#comment">작성한 댓글</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<modal>
    <!-- Modal 팔로워 -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">팔로우</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-start" id="follow-user">
            {% if not request_user.followers.all.count %}
              <p>팔로우한 사람이 없어요</p>
            {% else %}
              {% for follower in request_user.followers.all %}
                <a href="{% url 'accounts:profile' follower.pk %}" class="text-decoration-none fw-bold text-dark">
                  <img src="{{ follower.team.logo.url }}" class="rounded-circle" style="width: 1.5rem; height: 1.5rem;">
                  {{ follower.nickname }}
                </a>
                <br>
              {% endfor %}
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal 팔로잉 -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">팔로잉</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-start">
            {% if not request_user.followings.all.count %}
              <p>팔로잉한 사람이 없어요</p>
            {% else %}
              {% for following in request_user.followings.all %}
              <a href="{% url 'accounts:profile' following.pk %}" class="text-decoration-none fw-bold text-dark">
                <img src="{{ following.team.logo.url }}" class="rounded-circle" style="width: 1.5rem; height: 1.5rem;">
                {{ following.nickname }}
              </a>
              <br>
              {% endfor %}
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modalend -->
    <!-- Modal 좋아요 스낵바-->
    <div class="modal fade" id="snackbar" tabindex="-1" aria-labelledby="snackbarModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="snackbarModalLabel">좋아요한 스낵바</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-start">
            {% if not request_user.following_stores.all %}
            <p>좋아요한 스낵바가 없어요</p>
            {% else %}
            {% for store in request_user.following_stores.all %}
            <a href="{% url 'foods:store_detail' store.team.pk store.pk %}" class="text-decoration-none">
              <p class="fw-bold text-dark">{{ store.name }}({{ store.team.stadium.name }})</p>
            </a>
            {% endfor %}
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modalend -->
    <!-- Modal 좋아요 식당-->
    <div class="modal fade" id="review" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="reviewModalLabel">좋아요한 주변맛집</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-start">
            {% if not request_user.following_restaurants.all %}
            <p>좋아요한 주변맛집이 없어요</p>
            {% else %}
            {% for restaurant in request_user.following_restaurants.all %}
            <a href="{% url 'foods:restaurant_detail' restaurant.team.pk restaurant.pk %}" class="text-decoration-none">
              <p class="fw-bold text-dark">{{ restaurant.name }}({{ restaurant.team.stadium.name }})</p>
            </a>
            {% endfor %}
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modalend -->
    <!-- Modal 작성한 리뷰-->
    <div class="modal fade" id="myreview" tabindex="-1" aria-labelledby="myreviewModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="myreviewModalLabel">내가 쓴 리뷰</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex row">
            {% if not request_user.user_reviews.all %}
            <p>작성한 리뷰가 없어요</p>
            {% else %}
              <div class="text-start col-6">
                <p class="text-center">스낵바</p>
                <hr>
                {% for review in request_user.user_reviews.all %}
                  {% if review.store_name %}
                  <a href="{% url 'foods:store_detail' review.store_name.team.pk review.store_name.pk %}" class="text-decoration-none">
                    <p class="fw-bold text-dark">{{ review.content }}({{ review.store_name.name }}, {{ review.store_name.team.stadium.name }})</p>
                  </a>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="text-start col-6">
                <p class="text-center">식당</p>
                <hr>
                {% for review in request_user.user_reviews.all %}
                  {% if review.restaurant_name %}
                  <a href="{% url 'foods:restaurant_detail' review.restaurant_name.team.pk review.restaurant_name.pk %}" class="text-decoration-none">
                    <p class="fw-bold text-dark">{{ review.content }}({{ review.restaurant_name.name }}, {{ review.restaurant_name.team.stadium.name }})</p>
                  </a>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modalend -->
    <!-- Modal 좋아요한 글-->
    <div class="modal fade" id="article" tabindex="-1" aria-labelledby="articleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="articleModalLabel">좋아요한 게시글</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-start">
            {% if not request_user.like_articles.all %}
            <p>좋아요한 게시글이 없어요</p>
            {% else %}
            {% for article in request_user.like_articles.all %}
            <a href="{% url 'articles:detail' article.pk %}" class="text-decoration-none">
              <p class="fw-bold text-dark">{{ article.title }}</p>
            </a>
            {% endfor %}
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modalend -->
    <!-- Modal 작성한 글-->
    <div class="modal fade" id="myarticle" tabindex="-1" aria-labelledby="myarticleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="myarticleModalLabel">작성한 게시글</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-start">
            {% if not request_user.article_set.all %}
            <p>작성한 게시글이 없어요</p>
            {% else %}
            {% for article in request_user.article_set.all %}
            <a href="{% url 'articles:detail' article.pk %}" class="text-decoration-none">
              <p class="fw-bold text-dark">{{ article.title }}</p>
            </a>
            {% endfor %}
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modalend -->
    <!-- Modal 작성한 댓글-->
    <div class="modal fade" id="comment" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="commentModalLabel">작성한 댓글</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-start">
            {% if not request_user.comment_set.all %}
            <p>작성한 댓글이 없어요</p>
            {% else %}
            {% for comment in request_user.comment_set.all %}
            <a href="{% url 'articles:detail' comment.article.pk %}" class="text-decoration-none">
              <p class="fw-bold text-dark">{{ comment.content }}</p>
            </a>
            {% endfor %}
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modalend -->
</modal>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const form = document.querySelector('#follow-form')
  form.addEventListener('submit', function (event) {
    event.preventDefault()
    const userId = event.target.dataset.userId
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    axios({
      method: 'post',
      url: `/accounts/${userId}/follow/`,
      headers: {'X-CSRFToken': csrftoken,},
    }) 
    .then((response) => {
      const isFollowed = response.data.is_followed
      const followBtn = document.querySelector('#follow-form > input[type=submit]')
      if (isFollowed === true) {
        followBtn.value = '팔로우'
      } else {
        followBtn.value = '언팔로우'
      }
      const followersCountTag = document.querySelector('#followers-count')
      const followingsCountTag = document.querySelector('#followings-count')
      const followersCount = response.data.followers_count
      const followingsCount = response.data.followings_count
      followersCountTag.innerText = followersCount
      followingsCountTag.innerText = followingsCount
      const followUser = document.querySelector('#follow-user')
      const followingUser = document.querySelector('#following-user')
      followUser.textContent = ""
      const follow_user = response.data.follow_user
      console.log(follow_user[0].pk)
      if (followersCount == 0) {
        followUser.insertAdjacentHTML('beforeend', `
          <p>팔로우한 사람이 없어요</p>
        `)
      }
      else {
        console.log("follow")
        for (let i = 0; i < follow_user.length; i++) {
          followUser.insertAdjacentHTML('beforeend', `
            <a href="{% url 'accounts:profile' {{ follow_user.i.pk }}" class="text-decoration-none fw-bold text-dark">${follow_user[i].username}</a>   
          `)
        }
      }
    
    })
    .catch((error) => {
      console.log(error.response)
      })
  })
</script>
{% endblock %}