{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center">
  <div class="border mx-auto m-5 p-5 text-center bg-white col-10 col-lg-10 col-xl-8 col-xxl-7 rounded-1">
    <div class="d-flex p-2 justify-content-center">
      <div>
        {% if team %}
        <img src="{{ team.logo.url }}" class="rounded-circle" style="width: 5rem; height: 5rem;">
        {% else %}
        <img src="{% static 'images/logo.png' %}" class="rounded-circle" style="width: 5rem; height: 5rem;">
        {% endif %}
      </div>
      <div class="ms-3 my-auto">
        {% if nickname == request.user.nickname %}
        <h3>나의 프로필</h3>
        {% else %}
        <h3>{{ nickname }}님의 프로필</h3>
        {% endif %}
      </div>
    </div>
    <div class="d-flex justify-content-center my-2">
      <div data-bs-toggle="modal" data-bs-target="#exampleModal1" class="me-0 p-3 text-center" style="cursor : pointer;">
        <p class="fw-bold">팔로워</p>
        <p id="followers-count" class="mb-0 fw-bold">{{ request_user.followers.all|length }}</p>
      </div>
      <!-- Modal 팔로워 -->
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">팔로워</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start" id="follow-user">
              {% if not request_user.followers.all.count %}
                <p>팔로우한 사람이 없어요</p>
              {% else %}
                {% for follower in request_user.followers.all %}
                  <a href="{% url 'accounts:profile' follower.pk %}" class="text-decoration-none fw-bold text-dark">
                    <img src="{{ follower.team.logo.url }}" class="rounded-circle" style="width: 1.5rem; height: 1.5rem;">
                    {{ follower.nickname }}
                  </a>
                  <br>
                {% endfor %}
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>
        </div>
      </div>
      <span class="vl mt-2"></span>
      <div data-bs-toggle="modal" data-bs-target="#exampleModal2" class="me-0 p-3 text-center" style="cursor : pointer;">
        <p class="fw-bold">팔로윙</p>
        <p id="followings-count" class="mb-0 fw-bold">{{ request_user.followings.all|length }}</p>
      </div>
      <!-- Modal 팔로잉 -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">팔로잉</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">
              {% if not request_user.followings.all.count %}
                <p>팔로잉한 사람이 없어요</p>
              {% else %}
                {% for following in request_user.followings.all %}
                <a href="{% url 'accounts:profile' following.pk %}" class="text-decoration-none fw-bold text-dark">
                  <img src="{{ following.team.logo.url }}" class="rounded-circle" style="width: 1.5rem; height: 1.5rem;">
                  {{ following.nickname }}
                </a>
                <br>
                {% endfor %}
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modalend -->
    </div>
    <div class="row mx-auto mt-5 p-1 p-md-3 col-10 d-flex align-middle text-start" style="box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 20%); border-radius: 15px;">
      <p class="my-2">아이디 | {{ request_user.username }}</p>
      <p class="my-2">이름 | {{ request_user.last_name }}</p>
      <p class="my-2">이메일 | {{ request_user.email }}</p>
    </div>
    <div>
      <div class="row mx-auto mt-5 py-3 col-10 d-flex justify-content-center align-middle" style="box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 20%); border-radius: 15px;">
        <div class="col-12 col-lg-3 m-1 text-center">
          <p class="mb-0" style="cursor : pointer;" data-bs-toggle="modal" data-bs-target="#snackbar">좋아요한 스낵바</p>
        </div>
        <div class="col-12 col-lg-3 m-1 text-center">
          <p class="mb-0" style="cursor : pointer;" data-bs-toggle="modal" data-bs-target="#review">좋아요한 식당</p>
        </div>
        <div class="col-12 col-lg-3 m-1 text-center">
          <p class="mb-0" style="cursor : pointer;" data-bs-toggle="modal" data-bs-target="#myreview">내가 작성한 리뷰</p>
        </div>
          <!-- Modal 좋아요 스낵바-->
          <div class="modal fade" id="snackbar" tabindex="-1" aria-labelledby="snackbarModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="snackbarModalLabel">좋아요 한 스낵바</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                  {% if not request_user.following_stores.all %}
                  <p>좋아요한 스낵바가 없어요</p>
                  {% else %}
                  {% for store in request_user.following_stores.all %}
                  <a href="{% url 'foods:store_detail' store.team.pk store.pk %}" class="text-decoration-none">
                    <p class="fw-bold text-dark">{{ store.name }}({{ store.team.stadium.name }})</p>
                  </a>
                  {% endfor %}
                  {% endif %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modalend -->
          <!-- Modal 좋아요 식당-->
          <div class="modal fade" id="review" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="reviewModalLabel">좋아요 한 식당</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                  {% if not request_user.following_restaurants.all %}
                  <p>좋아요한 식당이 없어요</p>
                  {% else %}
                  {% for restaurant in request_user.following_restaurants.all %}
                  <a href="{% url 'foods:restaurant_detail' restaurant.team.pk restaurant.pk %}" class="text-decoration-none">
                    <p class="fw-bold text-dark">{{ restaurant.name }}({{ restaurant.team.stadium.name }})</p>
                  </a>
                  {% endfor %}
                  {% endif %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modalend -->
          <!-- Modal 작성한 리뷰-->
          <div class="modal fade" id="myreview" tabindex="-1" aria-labelledby="myreviewModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="myreviewModalLabel">내가 작성한 리뷰</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                  {% if not request_user.user_reviews.all %}
                  <p>작성한 리뷰가 없어요</p>
                  {% else %}
                  {% for review in request_user.user_reviews.all %}
                  {% if review.store_name %}
                  <a href="{% url 'foods:store_detail' review.store_name.team.pk review.store_name.pk %}" class="text-decoration-none">
                    <p class="fw-bold text-dark">{{ review.content }}({{ review.store_name.name }}, {{ review.store_name.team.stadium.name }})</p>
                  </a>
                  {% else %}
                  <a href="{% url 'foods:restaurant_detail' review.restaurant_name.team.pk review.restaurant_name.pk %}" class="text-decoration-none">
                    <p class="fw-bold text-dark">{{ review.content }}({{ review.restaurant_name.name }}, {{ review.restaurant_name.team.stadium.name }})</p>
                  </a>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modalend -->
      </div>
      <div class="row mx-auto mt-5 py-3 col-10 d-flex justify-content-center align-middle" style="box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 20%); border-radius: 15px;">
        <div class="col-12 col-lg-3 m-1 text-center">
          <p class="mb-0" style="cursor : pointer;" data-bs-toggle="modal" data-bs-target="#article">좋아요한 게시글</p>
        </div>
        <div class="col-12 col-lg-3 m-1 text-center">
          <p class="mb-0" style="cursor : pointer;" data-bs-toggle="modal" data-bs-target="#myarticle">작성한 게시글</p>
        </div>
        <div class="col-12 col-lg-3 m-1 text-center">
          <p class="mb-0" style="cursor : pointer;" data-bs-toggle="modal" data-bs-target="#comment">작성한 댓글</p>
        </div>
      </div>
      <!-- Modal 좋아요한 글-->
      <div class="modal fade" id="article" tabindex="-1" aria-labelledby="articleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="articleModalLabel">내가 작성한 게시글</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">
              {% if not request_user.like_articles.all %}
              <p>좋아요한 글이 없어요</p>
              {% else %}
              {% for article in request_user.like_articles.all %}
              <a href="{% url 'articles:detail' article.pk %}" class="text-decoration-none">
                <p class="fw-bold text-dark">{{ article.title }}</p>
              </a>
              {% endfor %}
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modalend -->
      <!-- Modal 작성한 글-->
      <div class="modal fade" id="myarticle" tabindex="-1" aria-labelledby="myarticleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="myarticleModalLabel">내가 작성한 게시글</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">
              {% if not request_user.article_set.all %}
              <p>작성한 글이 없어요</p>
              {% else %}
              {% for article in request_user.article_set.all %}
              <a href="{% url 'articles:detail' article.pk %}" class="text-decoration-none">
                <p class="fw-bold text-dark">{{ article.title }}</p>
              </a>
              {% endfor %}
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modalend -->
      <!-- Modal 작성한 댓글-->
      <div class="modal fade" id="comment" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="commentModalLabel">내가 작성한 댓글</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">
              {% if not request_user.comment_set.all %}
              <p>작성한 댓글이 없어요</p>
              {% else %}
              {% for comment in request_user.comment_set.all %}
              <a href="{% url 'articles:detail' comment.article.pk %}" class="text-decoration-none">
                <p class="fw-bold text-dark">{{ comment.content }}</p>
              </a>
              {% endfor %}
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modalend -->
    </div>
    <div class="row m-4 d-flex justify-content-between py-0 py-lg-5">
      {% if request.user.is_authenticated %}
      {% if request.user != request_user %}
      <div class="col" style="width: 100%;">
          <form id="follow-form" data-user-id="{{ request_user.pk }}">
            {% csrf_token %}
            {% if request.user in request_user.followers.all %}
              <input type="submit" value="unfollow" class="btn btn-outline-dark">
            {% else %}
              <input type="submit" value="follow" class="btn btn-dark">
            {% endif %}
          </form>
        </div>
        {% endif %}
      {% endif %}
      {% if request.user == request_user %}
        <div class="col-12 col-md-4 col-lg-3 mb-1">
          <a href="{% url 'accounts:update' %}" class="btn btn-dark w-100">정보 수정</a>
        </div>
        <div class="col-12 col-md-4 col-lg-3 mb-1">
          <a href="{% url 'accounts:password' %}" class="btn btn-dark w-100">비밀번호 변경</a>
        </div>
        <div class="col-12 col-md-4 col-lg-3 mb-1">
          <a href="{% url 'accounts:delete' %}" class="btn btn-dark w-100">탈퇴하기</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const form = document.querySelector('#follow-form')
  form.addEventListener('submit', function (event) {
    event.preventDefault()
    const userId = event.target.dataset.userId
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    axios({
      method: 'post',
      url: `/accounts/${userId}/follow/`,
      headers: {'X-CSRFToken': csrftoken,},
    }) 
    .then((response) => {
      const isFollowed = response.data.is_followed
      const followBtn = document.querySelector('#follow-form > input[type=submit]')
      if (isFollowed === true) {
        followBtn.value = 'unfollow'
      } else {
        followBtn.value = 'follow'
      }
      const followersCountTag = document.querySelector('#followers-count')
      const followingsCountTag = document.querySelector('#followings-count')
      const followersCount = response.data.followers_count
      const followingsCount = response.data.followings_count
      followersCountTag.innerText = followersCount
      followingsCountTag.innerText = followingsCount
      const followUser = document.querySelector('#follow-user')
      const followingUser = document.querySelector('#following-user')
      followUser.textContent = ""
      const follow_user = response.data.follow_user
      console.log(follow_user[0].pk)
      if (followersCount == 0) {
        followUser.insertAdjacentHTML('beforeend', `
          <p>팔로우한 사람이 없어요</p>
        `)
      }
      else {
        console.log("follow")
        for (let i = 0; i < follow_user.length; i++) {
          followUser.insertAdjacentHTML('beforeend', `
            <a href="{% url 'accounts:profile' {{ follow_user.i.pk }}" class="text-decoration-none fw-bold text-dark">${follow_user[i].username}</a>   
          `)
        }
      }
    
    })
    .catch((error) => {
      console.log(error.response)
      })
  })
</script>
{% endblock %}