{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<style>
  #create-btn {
    border-color:{{ user.team.color }};
    background-color:{{ user.team.color }};
    color:white;
    height:40px;
    font-size:16px;
    border-radius:5px;
    padding:5px 15px;
  }
  li#page-now > a.page-link {
    background-color:{{ user.team.color }};
    border-color:{{ user.team.color }};
    color:white;
  }
  li#page-notnow > a.page-link {
    border-color:{{ user.team.color }};
    color:{{ user.team.color }};
  }
  li#page-pre > a.page-link {
    color:black;
    border-color:{{ user.team.color }};
  }
  li#page-next > a.page-link {
    color:black;
    border-color:{{ user.team.color }};
  }
</style>

<div class='container'>
  <div class="d-flex justify-content-between">
  <h1><b>게시판</b></h1>
  {% if user.is_authenticated and user.team %}
    <a href="{% url 'articles:create' %}"><button id="create-btn">글 작성하기</button></a>
  {% endif %}
  </div>
  <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a href=" {% url 'articles:community' %}" class="text-decoration-none"><button class="nav-link text-black" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">전체</button></a>
    </li>
    {% for category in categorys %}
    <li class="nav-item" role="presentation">
      <a href="{% url 'articles:category' forloop.counter0 %}" class="text-decoration-none">
        {% if category == category_name %}
        <button class="nav-link text-black active" type="button" role="tab" aria-selected="true">
        {% else %}
        <button class="nav-link text-black" type="button" role="tab" aria-selected="true">
        {% endif %}
          {{ category }}
        </button>
      </a>
    </li>
    {% endfor %}
  </ul>
  
  <div class="tab-content" id="myTabContent">
    {% comment %} 야구 {% endcomment %}
    <div class="tab-pane active" id="baseball-tab-pane" role="tabpanel" aria-labelledby="baseball-tab" tabindex="0">
      <table class="table community-box mt-0">
        <thead class="community-table-head" style="background-color:black; color:white;">
          <tr>
            <th scope="col" class="col col-lg-1">카테고리</th>
            <th scope="col" class="col col-lg-6">제목</th>
            <th scope="col" class="col col-lg-2">작성일</th>
            <th scope="col" class="col col-lg-1">조회수</th>
            <th scope="col" class="col col-lg-2">작성자</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for article in articles_category %}
          <tr>
            <th scope="row">{{ article.category }}</th>
            <td class="text-start"><a href="{% url 'articles:detail' article.pk %}" class="text-black text-decoration-none">{{ article.title }} [{{ article.comment_set.count }}]</a></td>
            <td>{{ article.created_at|date:'Y-m-d H:i' }}</td>
            <td>{{ article.hits }}</td>
            <td>
              <a class="text-decoration-none text-black" href="{% url 'accounts:profile' article.user.pk %}">
                <img src="{{ article.user.team.logo.url }}" alt="" style="width: 1.5rem; height: 1.5rem;"> {{ article.user.nickname }}
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if articles_category.has_previous %}
        <li class="page-item mx-0" id="page-pre">
            <a class="page-link" href="?page={{ articles_category.previous_page_number }}" >이전</a>
        </li>
        {% else %}
        <li class="page-item disabled mx-0" id="page-pre">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in articles_category.paginator.page_range %}
        {% if page_number >= articles_category.number|add:-3 and page_number <= articles_category.number|add:3 %}
        {% if page_number == articles_category.number %}
        <li class="page-item active mx-0" aria-current="page" id="page-now">
          <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item mx-0" id="page-notnow">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if articles_category.has_next %}
        <li class="page-item mx-0" id="page-next">
            <a class="page-link" href="?page={{ articles_category.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled mx-0" id="page-next">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}