{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}

<div class='container'>
  <h1><b>한화 이글스 구단</b>의 소식을 전해드립니다.</h1>



  <table class="table community-box">
    <thead class="community-table-head">
      <tr>
        <th scope="col">NO</th>
        <th scope="col">제목</th>
        <th scope="col">작성일</th>
        <th scope="col">조회수</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <th scope="row">3</th>
        <td class="text-start">한화는 IT 기업 인가요? 홈페이지 미쳤네요</td>
        <td>2022.11.10</td>
        <td>239k</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td class="text-start">한화는 IT 기업 인가요? 홈페이지 미쳤네요</td>
        <td>2022.11.10</td>
        <td>239k</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td class="text-start">한화는 IT 기업 인가요? 홈페이지 미쳤네요</td>
        <td>2022.11.10</td>
        <td>239k</td>
      </tr>
    </tbody>
  </table>

<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination-custom">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true"><</span>
        </a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">></span>
        </a>
      </li>
    </ul>
  </nav>
</div>

</div>





{% endblock %}