{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<div class="my-5 mx-5 bg-white p-5 border boder-1">
  {% comment %} <h2 class="text-center fw-bold my-3">커뮤니티</h2> {% endcomment %}
  <p>카테고리: {{ article.category }}</p>
  <span class="d-none">{{ article.update_hits }}</span>
  <div class="d-flex justify-content-between">
    <h1>{{ article.title }}</h1>
    <p class="d-flex align-items-end">조회수: {{ article.hits }}</p>
  </div>
  <div class="d-flex justify-content-between">
    <span> 
      <img src="{{ article.user.team.logo.url }}" class="rounded-circle" style="width: 1.5rem; height: 1.5rem;">
      {{ article.user.nickname }}
    </span>
    {% if article.created_at == article.updated_at %}
    <span>{{ article.created_at|date:'Y-m-d H:i' }}</span>
    {% else %}
    <span>{{ article.updated_at|date:'Y-m-d H:i' }}(수정됨)</span>
    {% endif %}
  </div>
  <p class="mt-5 fs-5">{{ article.content }}</p>
  <div class="mt-5 text-center">
    {% if request.user.is_authenticated %}
    {% if request.user in article.like_users.all %}
    <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart-fill fs-4" style="cursor : pointer; color:#e195a5;"></i>
    {% else %}
    <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart fs-4" style="cursor : pointer; color:#e195a5;"></i>
    {% endif %}
    <span id="like-count" style="color:#e195a5;" class="fs-4">{{ article.user_article_like.count }}</span>
    {% endif %}
  </div>
  <hr style="background-color:black; height:5px;">
  <h4 class="mt-5 mb-3 fw-bold">댓글 목록</h4>
  <div id="comments">
    {% for comment in comments %}
      <div id="comment" class="d-flex">
        <span> {{ comment.user.nickname }}님 | <span id="comment-content-{{ comment.pk }}" data-comment-id="{{ comment.pk }}">{{ comment.content }}</span></span>
        {% if request.user.pk == comment.user.pk %}
          <div id="form-comment-update-{{ comment.pk }}" class="ms-1 col-10 col-md-11" style="display:none;">
            <div class="row d-flex justify-context-space-between">
              <div class="col-7 col-md-7 col-xl-9 align-middle mx-0">
                <input id="input-{{ comment.pk }}" class="form-control" type="text" value="{{comment.content}}">
              </div>
              <div class="row col-5 col-md-5 col-xl-3 align-middle">
                <button onclick="ok_function(this)" class="btn btn-dark col ms-2" id="okBtn-{{ comment.pk }}" data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}">확인</button>
                <button onclick="cancel_function(this)" class="btn btn-dark col ms-2" id="cancelBtn-{{ comment.pk }}" data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}">취소</button>
              </div>
            </div>
          </div>
          <div id="comment-buttons-{{ comment.pk }}">
            <button onclick="update_comment(this)" class="btn btn-dark ms-2" id="comment-update-{{ comment.pk }}" data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}">수정</button>
            <button onclick="delete_comment(this)" class="btn btn-dark ms-2" id="comment-delete-{{ comment.pk }}" data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}">삭제</button>
          </div>  
        {% endif %}
      </div> 
      <hr>
    {% empty %}
    <p>댓글이 없어요 ㅠ_ㅠ</p>
    {% endfor %}
  </div>

  {% comment %} 댓글 작성 {% endcomment %}
  <form id="comment-form" data-article-id="{{ article.pk }}">
    {% csrf_token %}
    <div class="row mt-3 d-flex justify-context-space-between">
      <div class="col-9 col-md-10 col-xl-11 align-middle">
        {% bootstrap_form comment_form %}
      </div>
      <div class="col-3 col-md-2 col-xl-1 align-middle">
        <button type="submit" class="btn btn-dark ms-2 w-100">등록</button>
      </div>
    </div>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  // 좋아요 비동기
const likeBtn = document.querySelector('#like-btn')
likeBtn.addEventListener('click', function(event) {
  axios({
    method: 'post',
    url: `/${event.target.dataset.articleId}/like/`,
    headers : {
      'X-CSRFTOKEN' : '{{ csrf_token }}'
     },
  })
  .then(response => {
    if (response.data.isLiked === true) {
      event.target.classList.add('bi-heart-fill')
      event.target.classList.remove('bi-heart')
    } else {
      event.target.classList.add('bi-heart')
      event.target.classList.remove('bi-heart-fill')
    }
    const likeCount = document.querySelector('#like-count')
    likeCount.innerText = response.data.likeCount
  })
})
</script>

<script>
  // 댓글 생성 비동기
  const commentForm = document.querySelector('#comment-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  commentForm.addEventListener('submit', function(event) {
    event.preventDefault();
    axios({
      method: 'post',
      url: `/${event.target.dataset.articleId}/comments/create/`,
      headers: {'X-CSRFToken': csrftoken},
      data: new FormData(commentForm) 
    })
    .then(response => {
      const comments = document.querySelector('#comments')
      comments.textContent = "";
      const hr = document.createElement('hr')
      const comment_data = response.data.comment_data
      const user = response.data.user

      for (let i = 0; i < comment_data.length; i++) {
        const article_pk = response.data.article_pk
        if (user === comment_data[i].userId ){
          comments.insertAdjacentHTML('beforeend', `
          <div id="comment" class="d-flex">
            <span> ${ comment_data[i].nickname }님 | <span id="comment-content-${ comment_data[i].commentPk }" data-comment-id="${ comment_data[i].commentPk }">${ comment_data[i].content }</span></span>
            <div id="form-comment-update-${comment_data[i].commentPk}" class="ms-1 col-10 col-md-11" style="display:none;">
              <div class="row d-flex justify-context-space-between">
                <div class="col-7 col-md-7 col-xl-9 align-middle mx-0">
                  <input id="input-${comment_data[i].commentPk}" class="form-control" type="text" value="${comment_data[i].content}">
                </div>
                <div class="row col-5 col-md-5 col-xl-3 align-middle">
                  <button onclick="ok_function(this)" class="btn btn-dark col ms-2" id="okBtn-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">확인</button>
                  <button onclick="cancel_funtion(this)" class="btn btn-dark col ms-2" id="cancelBtn-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">취소</button>
                </div>
              </div>
            </div>
            <div id="comment-buttons-${comment_data[i].commentPk}">
              <button onclick="update_comment(this)" class="btn btn-dark ms-2" id="comment-update-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">수정</button>
              <button onclick="delete_comment(this)" class="btn btn-dark ms-2" id="comment-delete-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">삭제</button>
            </div>
          </div>
          <hr>
          `);
        } else {
          comments.insertAdjacentHTML('beforeend', `
          <span> ${ comment_data[i].nickname }님 | ${ comment_data[i].content }</span>
          <hr>
          `);
        }
      }
      commentForm.reset()
    })
    .catch(console.log(1))
  }) 
</script>

<script>
  // 댓글 수정 비동기
  const ok_function = (e) => {
    const commentId = event.target.dataset.commentId
    const articleId = event.target.dataset.articleId
    const inputCommentPk = document.querySelector(`#input-${ commentId }`)
    
    axios({
      method: 'post',
      url: `/${articleId}/comments/${commentId}/update/`,
      headers: {'X-CSRFToken': csrftoken},
      data: {'content': inputCommentPk.value}
    })
    .then(response => {
      const comments = document.querySelector('#comments')
      comments.textContent = "";
      const hr = document.createElement('hr')
      const comment_data = response.data.comment_data
      const user = response.data.user
      
      for (let i = 0; i < comment_data.length; i++) {
        const article_pk = response.data.article_pk
        if (user === comment_data[i].userId ){
        comments.insertAdjacentHTML('beforeend', `
          <div id="comment" class="d-flex">
            <span> ${ comment_data[i].nickname }님 | <span id="comment-content-${ comment_data[i].commentPk }" data-comment-id="${ comment_data[i].commentPk }">${ comment_data[i].content }</span></span>
            <div id="form-comment-update-${comment_data[i].commentPk}" class="ms-1 col-10 col-md-11" style="display:none;">
              <div class="row d-flex justify-context-space-between">
                <div class="col-7 col-md-7 col-xl-9 align-middle mx-0">
                  <input id="input-${comment_data[i].commentPk}" class="form-control" type="text" value="${comment_data[i].content}">
                </div>
                <div class="row col-5 col-md-5 col-xl-3 align-middle">
                  <button onclick="ok_function(this)" class="btn btn-dark col ms-2" id="okBtn-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">확인</button>
                  <button onclick="cancel_funtion(this)" class="btn btn-dark col ms-2" id="cancelBtn-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">취소</button>
                </div>
              </div>
            </div>
            <div id="comment-buttons-${comment_data[i].commentPk}">
              <button onclick="update_comment(this)" class="btn btn-dark ms-2" id="comment-update-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">수정</button>
              <button onclick="delete_comment(this)" class="btn btn-dark ms-2" id="comment-delete-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">삭제</button>
            </div>
          </div>
          <hr>
          `);
        } else {
          comments.insertAdjacentHTML('beforeend', `
          <span> ${ comment_data[i].nickname }님 | ${ comment_data[i].content }</span>
          <hr>
          `);
        }
      }
    })
  }

  // 댓글 수정 취소
  const cancel_function = (e) => {
    const comment_id = document.querySelector(`#${e.id}`).id;
    const input = document.createElement('input');
    const comment = document.querySelector('#comment');
    const span = document.createElement('span');
    const comment_update_form = document.querySelector(`#form-comment-update-${ event.target.dataset.commentId }`)
    console.log(comment_update_form);
    comment_update_form.style.display = "none";
    const comment_buttons = document.querySelector(`#comment-buttons-${ event.target.dataset.commentId }`)
    comment_buttons.style.display = "block";
  }

  const update_comment = (e) => {
    const comment_id = document.querySelector(`#${e.id}`).id;
    const input = document.createElement('input');
    const comment = document.querySelector('#comment');
    const span = document.createElement('span');
    const commentContent = document.querySelector(`#comment-content-${ event.target.dataset.commentId }`);
    console.log(commentContent)
    commentContent.style.display = "none";
    const comment_update_form = document.querySelector(`#form-${ e.id }`);
    comment_update_form.style.display = "block";
    const comment_buttons = document.querySelector(`#comment-buttons-${ event.target.dataset.commentId }`);
    comment_buttons.style.display = "none";
  }

  // 댓글 삭제 비동기
  const delete_comment = (e) => {
    const comment_id = document.querySelector(`#${e.id}`).id
    axios({
      method: 'post',
      url: `/${event.target.dataset.articleId}/comments/${event.target.dataset.commentId}/delete/`,
      headers: {'X-CSRFToken': csrftoken},
    })
    .then(response => {
      const comments = document.querySelector('#comments')
      comments.textContent = "";
      const hr = document.createElement('hr')
      const comment_data = response.data.comment_data
      const user = response.data.user
      
      for (let i = 0; i < comment_data.length; i++) {
        const article_pk = response.data.article_pk
        if (user === comment_data[i].userId ){
          comments.insertAdjacentHTML('beforeend', `
          <div id="comment" class="d-flex">
            <span> ${ comment_data[i].nickname }님 | <span id="comment-content-${ comment_data[i].commentPk }" data-comment-id="${ comment_data[i].commentPk }">${ comment_data[i].content }</span></span>
            <div id="form-comment-update-${comment_data[i].commentPk}" class="ms-1 col-10 col-md-11" style="display:none;">
              <div class="row d-flex justify-context-space-between">
                <div class="col-7 col-md-7 col-xl-9 align-middle mx-0">
                  <input id="input-${comment_data[i].commentPk}" class="form-control" type="text" value="${comment_data[i].content}">
                </div>
                <div class="row col-5 col-md-5 col-xl-3 align-middle">
                  <button onclick="ok_function(this)" class="btn btn-dark col ms-2" id="okBtn-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">확인</button>
                  <button onclick="cancel_funtion(this)" class="btn btn-dark col ms-2" id="cancelBtn-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">취소</button>
                </div>
              </div>
            </div>
            <div id="comment-buttons-${comment_data[i].commentPk}">
              <button onclick="update_comment(this)" class="btn btn-dark ms-2" id="comment-update-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">수정</button>
              <button onclick="delete_comment(this)" class="btn btn-dark ms-2" id="comment-delete-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">삭제</button>
            </div>
          </div>
          <hr>
          `);
        } else {
          comments.insertAdjacentHTML('beforeend', `
          <span> ${ comment_data[i].nickname }님 | ${ comment_data[i].content }</span>
          <hr>
          `);
        }
      }
    })
  }
</script>
{% endblock %}
