{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
{% if not user.is_authenticated %}
<div class="intro-bg" id="box">
  <div class="intro-box" id="box">
    <video class='intro-mv' muted autoplay>
      <source src="{% static 'movies/main_intro.mp4' %}" type="video/mp4">
      <strong>Your browser does not support the video tag.</strong>
    </video>
    <div class="jb-text">
      <p></p>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'JS/movie.js'%}"></script>
</div>
{% endif %}

<div class="movie-box">
  <div class="jb-box d-flex align-items-center">
    <video class="banner-mv" muted autoplay>
      <source src="{% static 'movies/main_banner.mp4' %}" type="video/mp4">
      <strong>Your browser does not support the video tag.</strong>
    </video>
  </div>
    <div class="jb-text">
      <p></p>
    </div>
  </div>
</div>
<div class="container ">
  {% if user.is_authenticated and user.team %}
  <div class="row py-4 my-5 d-flex justify-content-center bg-white" style="border-top: 1rem solid {{ user.team.color }}; border-bottom: 1rem solid {{ user.team.color }}">
  {% else %}
  <div class="row py-4 my-5 d-flex justify-content-center bg-light" style="border-top: 1rem solid grey; border-bottom: 1rem solid grey">
  {% endif %}
    <div class="d-flex flex-column align-items-center my-3">
      <h2 class="fw-bold" style="font-size:2.5rem;">팀별 먹거리 보러가기<h2>
      <p class="" style="color:gray; font-size:1.2rem;">구장별 맛집 정보를 찾아보세요😀</p>
    </div>
    {% for team in teams %}
    <div class="team-card text-bg-white col-5 col-sm-3 col-lg-2 m-1 p-0">
      {% if team == user.team %}
      <div class="front" style="background-color:{{ team.color }}55;  border: 1rem ridge {{ team.color }}; border-radius:5%;">
      {% else %}
      <div class="front" style="background-color:white;  border: 1rem ridge {{ team.color }}; border-radius:5%;">
      {% endif %}
          <img src="{{ team.logo.url }}" class="card-img" alt="..."> <!--앞면-->
        
      </div>
      <a class="text-decoration-none text-center text-wrap" href="{% url 'foods:home' team.pk %}">
        <div class="back" style="background-color:{{ team.color }}; border: 1rem ridge {{ team.color }}; border-radius:5%;">
          <img src="{{ team.mascot.url }}" class="card-img" alt="..."> <!--뒷면-->
        </div>
      </a>
    </div>
    


    {% endfor %}
  </div>
  <div class="container">
    <section class="my-5 py-5">
      <div class="d-flex flex-column align-items-center mt-3">
        <h2 class="fw-bold" style="font-size:2.5rem;">인기 리뷰<h2>
        <p class="" style="color:gray; font-size:1.2rem;">가장 인기있는 리뷰를 찾아보세요💯</p>
      </div>

      <!-- 카드 슬라이더 효과 -->
      <div class='slider'>

        <div class='slide-track'>

          <div class='slide'>
            <div class="train-card bg-white p-3">
              <a href="">
                <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
              </a>
              <div class="card-body py-2 border-top">
                <h5 class="card-title text-center">"리뷰제목"</h5>
                <p class="card-text small">
                  리뷰 내용 리뷰 내용 리뷰 내용 리뷰 내용...
                </p>
                <p class="small m-0">잠실야구장</p>
                <p class="small m-0">⭐⭐⭐⭐⭐(27명 평가)</p>
              </div>
            </div>
          </div>
          <div class='slide'>
            <div class="train-card border border-1 bg-white p-3">
              <a href="">
                <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
              </a>
              <div class="card-body py-2 border-top">
                <h5 class="card-title text-center">"리뷰제목"</h5>
                <p class="card-text small">
                  리뷰 내용 리뷰 내용 리뷰 내용 리뷰 내용...
                </p>
                <p class="small m-0">잠실야구장</p>
                <p class="small m-0">⭐⭐⭐⭐⭐(27명 평가)</p>
              </div>
            </div>
          </div>
          <div class='slide'>
            <div class="train-card border border-1 bg-white p-3">
              <a href="">
                <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
              </a>
              <div class="card-body py-2 border-top">
                <h5 class="card-title text-center">"리뷰제목"</h5>
                <p class="card-text small">
                  리뷰 내용 리뷰 내용 리뷰 내용 리뷰 내용...
                </p>
                <p class="small m-0">잠실야구장</p>
                <p class="small m-0">⭐⭐⭐⭐⭐(27명 평가)</p>
              </div>
            </div>
          </div>
          <div class='slide'>
            <div class="train-card border border-1 bg-white p-3">
              <a href="">
                <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
              </a>
              <div class="card-body py-2 border-top">
                <h5 class="card-title text-center">"리뷰제목"</h5>
                <p class="card-text small">
                  리뷰 내용 리뷰 내용 리뷰 내용 리뷰 내용...
                </p>
                <p class="small m-0">잠실야구장</p>
                <p class="small m-0">⭐⭐⭐⭐⭐(27명 평가)</p>
              </div>
            </div>
          </div>
          <div class='slide'>
            <div class="train-card border border-1 bg-white p-3">
              <a href="">
                <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
              </a>
              <div class="card-body py-2 border-top">
                <h5 class="card-title text-center">"리뷰제목"</h5>
                <p class="card-text small">
                  리뷰 내용 리뷰 내용 리뷰 내용 리뷰 내용...
                </p>
                <p class="small m-0">잠실야구장</p>
                <p class="small m-0">⭐⭐⭐⭐⭐(27명 평가)</p>
              </div>
            </div>
          </div>
          <div class='slide'>
            <div class="train-card border border-1 bg-white p-3">
              <a href="">
                <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
              </a>
              <div class="card-body py-2 border-top">
                <h5 class="card-title text-center">"리뷰제목"</h5>
                <p class="card-text small">
                  리뷰 내용 리뷰 내용 리뷰 내용 리뷰 내용...
                </p>
                <p class="small m-0">잠실야구장</p>
                <p class="small m-0">⭐⭐⭐⭐⭐(27명 평가)</p>
              </div>
            </div>
          </div>

          <!-- 한번 더 반복하기 -->

          
          <div class='slide'>
            <div class="train-card border border-1 bg-white p-3">
              <a href="">
                <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
              </a>
              <div class="card-body py-2 border-top">
                <h5 class="card-title text-center">"리뷰제목"</h5>
                <p class="card-text small">
                  리뷰 내용 리뷰 내용 리뷰 내용 리뷰 내용...
                </p>
                <p class="small m-0">잠실야구장</p>
                <p class="small m-0">⭐⭐⭐⭐⭐(27명 평가)</p>
              </div>
            </div>
          </div>
          <div class='slide'>
            <div class="train-card border border-1 bg-white p-3">
              <a href="">
                <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
              </a>
              <div class="card-body py-2 border-top">
                <h5 class="card-title text-center">"리뷰제목"</h5>
                <p class="card-text small">
                  리뷰 내용 리뷰 내용 리뷰 내용 리뷰 내용...
                </p>
                <p class="small m-0">잠실야구장</p>
                <p class="small m-0">⭐⭐⭐⭐⭐(27명 평가)</p>
              </div>
            </div>
          </div>
          <div class='slide'>
            <div class="train-card border border-1 bg-white p-3">
              <a href="">
                <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
              </a>
              <div class="card-body py-2 border-top">
                <h5 class="card-title text-center">"리뷰제목"</h5>
                <p class="card-text small">
                  리뷰 내용 리뷰 내용 리뷰 내용 리뷰 내용...
                </p>
                <p class="small m-0">잠실야구장</p>
                <p class="small m-0">⭐⭐⭐⭐⭐(27명 평가)</p>
              </div>
            </div>
          </div>
          <div class='slide'>
            <div class="train-card border border-1 bg-white p-3">
              <a href="">
                <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
              </a>
              <div class="card-body py-2 border-top">
                <h5 class="card-title text-center">"리뷰제목"</h5>
                <p class="card-text small">
                  리뷰 내용 리뷰 내용 리뷰 내용 리뷰 내용...
                </p>
                <p class="small m-0">잠실야구장</p>
                <p class="small m-0">⭐⭐⭐⭐⭐(27명 평가)</p>
              </div>
            </div>
          </div>
          <div class='slide'>
            <div class="train-card border border-1 bg-white p-3">
              <a href="">
                <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
              </a>
              <div class="card-body py-2 border-top">
                <h5 class="card-title text-center">"리뷰제목"</h5>
                <p class="card-text small">
                  리뷰 내용 리뷰 내용 리뷰 내용 리뷰 내용...
                </p>
                <p class="small m-0">잠실야구장</p>
                <p class="small m-0">⭐⭐⭐⭐⭐(27명 평가)</p>
              </div>
            </div>
          </div>
          <div class='slide'>
            <div class="train-card border border-1 bg-white p-3">
              <a href="">
                <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
              </a>
              <div class="card-body py-2 border-top">
                <h5 class="card-title text-center">"리뷰제목"</h5>
                <p class="card-text small">
                  리뷰 내용 리뷰 내용 리뷰 내용 리뷰 내용...
                </p>
                <p class="small m-0">잠실야구장</p>
                <p class="small m-0">⭐⭐⭐⭐⭐(27명 평가)</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>
    <section class="row d-flex justify-content-center mt-5">
      <div class="col-12 col-lg-5 col-xxl-5 mt-4">
        <div class="pt-4 ps-5" style="background-color:white; border-radius:10px; overflow:hidden; height:522px;">
          {% if user.is_authenticated and user.team %}
          <h2 class="fw-bold"><span style="border-bottom : 3px double {{user.team.color}};">{{ user.team.name }}</span> 팬들의 최신 게시글<h2>
          <p class="" style="color:gray; font-size:1rem;">우리 팀 최신 게시글을 확인하세요🔥</p>
          {% else %}
          <h2 class="fw-bold">통합 게시판의 최신 글<h2>
          <p class="" style="color:gray; font-size:1rem;">최신 게시글을 확인하세요🔥</p>
          {% endif %}
            <table class="mt-4">
              <tbody class="text-center">
                {% for article in articles %}
                {% if article.user.team == user.team %}
                <tr class="mt-4" style="font-size:1.2rem; margin:2rem 0 2rem 0; height:2.8rem;">
                  <th scope="row" style="font-size:1.2rem; font-weight:500; color:gray;">{{ article.category }}</th>
                  <td class="text-start" style="font-size:1.2rem;"><a href="{% url 'articles:detail' article.pk %}" class="text-black text-decoration-none">{{ article.title }}</a></td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
            <div class="small text-end me-5"><a class="text-decoration-none text-black fs-6" href="{% url 'articles:community' %}">전체글 보기></a></div>
        </div>
      </div>


      <div class="col-12 col-lg-4 col-xxl-4 p-0 mt-4" style="background-color:white; border-radius:10px; overflow:hidden; height:522px;">
        <iframe class="" src="https://m.sports.naver.com/kbaseball/index" style="width:100%; height:100%;" scrolling="no">
          <p>현재 사용 중인 브라우저는 iframe 요소를 지원하지 않습니다!</p>
        </iframe>
      </div>

      <div class="col-12 col-lg-3 col-xxl-3 mt-4">
        <div class="pt-4 px-5" style="background-color:white; border-radius:10px; overflow:hidden; height:522px;">
          <h2 class=" fw-bold">팀 순위<h2>
          <p class="" style="color:gray; font-size:1rem;">우리 팀 순위를 확인하세요🎖️</p>
          <table class="table table-borderless rounded-1 bg-white text-center" style="font-size:1rem;">
            <tbody>
              {% for team in teams %}
              {% if team == user.team %}
              <tr style="border:2px solid {{ team.color }};">
              {% else %}
              <tr>
              {% endif %}
                <th scope="row">{{ team.pk }}</th>
                <td>
                  <img src="{{ team.logo.url }}" style="width:1.5rem; height:1.5rem">
                  {{ team.name }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>

{% comment %} <script>
  let observer = new IntersectionObserver((e) => {
    e.forEach((box)=>{
      box.target.opacity = 1;
    })
  })
  
  let h2 = document.querySelectorAll("h2")
  observer.observer(h2[0])
  observer.observer(h2[1])

</script> {% endcomment %}
{% endblock %}