{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<div class="intro-box" id="box" style="z-index:100;">
  <video class='intro-mv' muted autoplay loop>
    <source src="{% static 'movies/intro.mp4' %}" type="video/mp4">
    <strong>Your browser does not support the video tag.</strong>
  </video>
  <div class="jb-text">
    <p></p>
  </div>
</div>
<script type="text/javascript" src="{% static 'JS/movie.js'%}"></script>

<div class="movie-box">
  <div class="jb-box">
    <video muted autoplay loop>
      <source src="{% static 'movies/intro.mp4' %}" type="video/mp4">
      <strong>Your browser does not support the video tag.</strong>
    </video>
    <div class="jb-text">
      <p>동영상 뜨는 박스</p>
    </div>
  </div>
</div>
<div class="container ">
  {% if user.is_authenticated and user.team %}
  <div class="row py-4 my-5 d-flex justify-content-center bg-white" style="border-top: 1rem groove {{ user.team.color }}; border-bottom: 1rem groove {{ user.team.color }}">
  {% else %}
  <div class="row py-4 my-5 d-flex justify-content-center bg-light">
  {% endif %}
    <h2 class="text-center fw-bold my-3">Food by TEAM</h2>
    {% for team in teams %}
    {% if team == user.team %}
    <div class="text-bg-white col-2 m-1" style="border:thick inset {{ team.color }}; border-radius:5%">
    {% else %}
    <div class="text-bg-white col-2 m-1" style="border:thick inset {{ team.color }}; border-radius:5%">
    {% endif %}
      <a class="text-decoration-none text-center text-wrap" href="{% url 'foods:home' team.pk %}">
        <img src="{{ team.logo.url }}" class="card-img" alt="...">
        <p class="text-black d-none d-lg-block fw-bold">{{ team.stadium.name }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="container">
    <section class="">
      <h4>인기 리뷰</h4>
      <div class="row">
        <div class="col4 card">
          <h5 class="card-title">
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}