.food_title {
    text-align: center;
    margin-top: 3rem;
}

.symbol {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 15px;
}

.symbol img[class="team_logo"] {
    width: 30%;
    height: auto;
    /* border-radius: 100%; */
}

.symbol div[id="map"] {
    width: 70%;
    margin-left: 0;
}

.symbol div img {
    width: 100%;
    height: 25vh;
}

.card-box {
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
    color: white;
    border-radius: 3rem;
}

.card-box h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.store-box {
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
    color: white;
    border-radius: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.store-box h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card-box div {
    color: black;
}

.store-box div {
    color: black
}

/* marker css */

div[class="customOverlay"] {
    border-radius: 2rem;
    background-color: white;
    width: auto;
    margin: 0;
    padding: 10px;
    text-align: center;
}

div[class="customOverlay_2"] {
    border-radius: 2rem;
    background-color: white;
    width: auto;
    margin: 0;
    padding: 10px;
    text-align: center;
}

div[class="overlay"] {
    position: relative;
    width: auto;
    height: 5rem;
    border-radius: 10rem;
    background-color: rgba(18, 139, 232, 0.7);
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 2rem;
    color: white
}

div[class="overlay"]:after {
    border-top: 10px solid rgba(18, 139, 232, 0.7);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    bottom: -10px;
    left: 46.5%;
}

div[class="overlay"] svg {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: .5rem;
}

div[class="overlay_middle"] {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    background-color: gray;
}

div[class="overlay_middle"] button {
    position: absolute;
    right: 3%;
    top: 15%;
    border: 0;
    padding: 0;
    height: auto;
}

div[class="overlay_middle"] button p {
    margin: 0;
    background-color: rgba(255, 255, 255, 255, 1);
}

div[class="overlay_name"] {
    padding-left: 1rem;
    font-size: 25px;
}

div[class="overlay_name"] a {
    text-decoration: none;
    color: white;
}

div[class="overlay_name"] a:hover {
    text-decoration: none;
    color: black;
}

div[class="content_add"] {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

div[class="content_text"] {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 1rem;
}


.slide-in {
    animation: change 1s ease forwards;
}

@keyframes change {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}