.food_title {
    text-align: center;
    margin-top: 3rem;
}

.symbol {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.symbol img[class="team_logo"] {
    width: 30%;
    height: auto;
    border-radius: 100%;
}

.symbol div[id="map"] {
    width: 70%;
    margin-left: 2rem;
}

.symbol div img {
    width: 100%;
    height: 25vh;
}

.card-box {
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
    color: white;
    border-radius: 3rem;
}

.card-box h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.store-box {
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
    color: white;
    border-radius: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.store-box h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card-box div {
    color: black;
}

.store-box div {
    color: black
}

/* marker css */

.customOverlay {
    border-radius: 2rem;
    background-color: white;
    width: auto;
    margin: 0;
    padding: 10px;
    text-align: center;
}

div[class="overlay"] {
    width: 20rem;
    height: 7rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .7);
    display: flex;
    flex-direction: column;
}

div[class="overlay_middle"] {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    background-color: gray;
}

div[class="overlay_middle"] button {
    position: absolute;
    right: 3%;
    top: 15%;
    border: 0;
    padding: 0;
    height: auto;
}

div[class="overlay_middle"] button p {
    margin: 0;
    background-color: rgba(255, 255, 255, 255, 1);
}

div[class="overlay_name"] {
    padding-left: 1rem;
    font-size: 30px;
}

div[class="content_add"] {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

div[class="content_text"] {
    padding: 0 1rem;
}