{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>YammyChu</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  {% bootstrap_css %}
  <style>
  @font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  * {
    font-family: 'SUIT-Medium';
  }
  body {
    background-color:#f6f4f2;
  }
  #footer {
    background-color:black;
    color:white;
    height:60px;
    width:100%;
    text-align:center;
    line-height:60px;
    position:fixed;
    bottom:0px;
  }
  #logo-img {
    width:50px;
    height:50px; 
  }
  {% comment %} 업버튼 {% endcomment %}
  #go-top {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 50px;
    outline: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    z-index: 9999;
    color: {{ user.team.color }};
  }
  </style>
{% block css %}
{% endblock css %}

{% block script %}
{% endblock script %}
<!-- fontawesome -->
<script src="https://kit.fontawesome.com/3ef4088aa9.js" crossorigin="anonymous"></script>
{% comment %} lordicon 임포트 {% endcomment %}
<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
</head>
<body>
{% if user.is_authenticated and user.team %}
<nav class="navbar nav-large nav-sticky sticky-top navbar-expand-xl navbar-light py-0" style="background-color:white; color:black; border-bottom: 0.5rem solid {{ user.team.color }}">
{% else %}
<nav class="navbar nav-large nav-sticky sticky-top navbar-expand-xl navbar-light bg-dark py-0" style="color:white;">
{% endif %}
  <div class="container-fluid nav-custom row">
    <div class="col-2 col-md-1 col-xl-1 col-xxl-2">
    </div>
    <a class="navbar-brand text-center me-0 col-8 col-md-10 d-block d-xl-none" href="{% url 'articles:index' %}">
      {% comment %} <img class="logo-img nav-img" src="{% static 'images/brand.png' %}" alt="" > {% endcomment %}
      <h1 style="margin-bottom:0px; color:red; font-weight:bold; font-family: 'Anton', sans-serif;">YAMMYCHU</h1>
    </a>
    <a class="navbar-brand d-none d-xl-block col-lg-4 col-xl-3 col-xxl-2 ms-3 d-flex justify-content-center" href="{% url 'articles:index' %}">
      {% comment %} <img class="logo-img nav-img" src="{% static 'images/brand.png' %}" alt="" > {% endcomment %}
      <h1 style="margin-bottom:0px; color:red; font-weight:bold; font-family: 'Anton', sans-serif;">YAMMYCHU</h1>
    </a>
    <button class="col-2 col-md-1 border-0 d-block d-xl-none" style="background-color:#00ff0000" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated and user.team %}
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="col-xl-8 col-xxl-6 row justify-content-center">
        <ul class="navbar-nav col-xl-8 d-flex justify-content-center align-items-center">
          <li class="nav-item dropdown mb-2">
            <a class="nav-main-menu dropdown-toggle" style='color:black; font-size: 1.2rem;' href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              구장별 스낵바
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'foods:home' 1 %}">SSG 랜더스</a></li>
              <li><a class="dropdown-item" href="{% url 'foods:home' 2 %}">키움 히어로즈</a></li>
              <li><a class="dropdown-item" href="{% url 'foods:home' 3 %}">LG 트윈스</a></li>
              <li><a class="dropdown-item" href="{% url 'foods:home' 4 %}">KT 위즈</a></li>
              <li><a class="dropdown-item" href="{% url 'foods:home' 5 %}">KIA 타이거즈</a></li>
              <li><a class="dropdown-item" href="{% url 'foods:home' 6 %}">NC 다이노스</a></li>
              <li><a class="dropdown-item" href="{% url 'foods:home' 7 %}">삼성 라이온즈</a></li>
              <li><a class="dropdown-item" href="{% url 'foods:home' 8 %}">롯데 자이언츠</a></li>
              <li><a class="dropdown-item" href="{% url 'foods:home' 9 %}">두산 베어스</a></li>
              <li><a class="dropdown-item" href="{% url 'foods:home' 10 %}">한화 이글스</a></li>
            </ul>
          </li>
          <li class="nav-item menu">
            <a class="nav-main-menu" style='color:black; font-size:med' href="{% url 'articles:community' %}">커뮤니티</a>
          </li>
          <li class="nav-item menu">
            <a class="nav-main-menu" style='color:black;' href="{% url 'chat:room' user.team.ename %}">{{ user.team.name }}팀 채팅방</a>
            {% comment %} <a href="{% url 'chat:room' user.team.ename %}"><button id="create-btn">{{ user.team.name }}팀 채팅방</button></a> {% endcomment %}
          </li>
        </ul>
        <ul class="navbar-nav col-xl-4 my-3 d-flex justify-content-end align-items-center">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-sub-menu ms-2" style='color:black;' href="{% url 'accounts:profile' request.user.pk %}">
              <span id="user-nickname" data-user-id="{{ request.user.pk }}">{{ request.user.nickname }}님의 프로필</span>
            </a>
          </li>
          <a class="nav-sub-menu ms-2" style='color:black;' href="{% url 'accounts:logout' %}">로그아웃</a>
          {% endif %}
        </ul>
      </div>
    </div>
    {% else %}
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="col-xl-7 col-xxl-6 row d-flex justify-content-center">
        <ul class="navbar-nav col-xl-8 d-flex justify-content-center align-items-center">
          <li class="nav-item menu">
            <a class="nav-main-menu" style='color:white;' href="{% url 'articles:index' %}">구장별 스낵바</a>
          </li>
          <li class="nav-item menu">
            <a class="nav-main-menu" style='color:white;' href="{% url 'articles:community' %}">커뮤니티</a>
          </li>
        </ul>
        <ul class="navbar-nav col-xl-4 my-3 d-flex justify-content-end align-items-center">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-sub-menu ms-2" style='color:white;' href="{% url 'accounts:profile' request.user.pk %}">
              <span id="user-nickname" data-user-id="{{ request.user.pk }}">{{ request.user.nickname }}</span>님의 프로필
            </a>
          </li>
          <a class="nav-sub-menu ms-2" style='color:white;' href="{% url 'accounts:logout' %}">로그아웃</a>
          <!-- guest -->
          {% else %}
          <li>
            <a class="nav-sub-menu ms-2" style='color:white;' href="{% url 'accounts:login' %}">로그인</a>
          </li>
          <li>
            <a class="nav-sub-menu ms-2" style='color:white;' href="{% url 'accounts:signup' %}">회원가입</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}
    <div class="col-xl-1 col-xxl-2">
    </div>
  </div>
</nav>

{% block content %}
{% endblock content %}
{% comment %} 위로가기 버튼 {% endcomment %}
<button id="go-top"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
  class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="opacity:0.6">
  <path fill-rule="evenodd"
    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
</svg></button>
<footer>
  <p>made by 김광표 김다겸 김문경 김준환 이주용 최근영</p>
  <p>ⓒ Y.M.C Corp.</p>
</footer>
<script src="{% static 'JS/movie.js' %}" type="text/javascript"></script>
<script>
  var backToTop = () => {
    window.addEventListener('scroll', () => {
      if (document.querySelector('html').scrollTop > 500) {
        document.getElementById('go-top').style.display = "block";
      } else {
        document.getElementById('go-top').style.display = "none";
      }
    });
    // back to top
    document.getElementById('go-top').addEventListener('click', () => {
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
      });
    })
  };
  backToTop();
</script>
</body>
</html>