{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>YammyChu</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  {% bootstrap_css %}
  <style>
  @font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  * {
    font-family: 'SUIT-Medium';
  }

  body {
    background-color:beige;
  }
  
  #footer {
    background-color:black;
    color:white;
    height:60px;
    width:100%;
    text-align:center;
    line-height:60px;
    position:fixed;
    bottom:0px; 
  }

  #logo-img {
    width:50px;
    height:50px; 
  }
  </style>
  {% block css %}
  {% endblock css %}

  {% block script %}
  {% endblock script %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/3ef4088aa9.js" crossorigin="anonymous"></script>
  {% comment %} lordicon 임포트 {% endcomment %}
  <script src="https://cdn.lordicon.com/qjzruarw.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0 ">
  <div class="nav-custom row">
    <div class="col-2">
    </div>
    <a class="navbar-brand col-2" href="{% url 'articles:index' %}">
      <img class="logo-img nav-img" src="{% static 'images/logo_test2.png' %}" alt="" >
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-6 row" id="navbarNav">
      <div class="col-1">
      </div>
      <ul class="navbar-nav col-7 d-flex justify-content-center">
        <li class="nav-item">
          <a class="nav-main-menu" href="#">팀별 먹거리</a>
        </li>
        <li class="nav-item">
          <a class="nav-main-menu" href="{% url 'articles:community' %}">커뮤니티</a>
        </li>
      </ul>
      <ul class="navbar-nav col-4">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link ms-2" href="{% url 'accounts:profile' request.user.pk %}">
            {{ request.user.nickname }}님의 프로필
          </a>
        </li>
        <a class="nav-link ms-2" href="{% url 'accounts:logout' %}">로그아웃</a>
        <!-- guest -->
        {% else %}
        <li>
          <a class="nav-link ms-2" href="{% url 'accounts:login' %}">로그인</a>
        </li>
        <li>
          <a class="nav-link ms-2" href="{% url 'accounts:signup' %}">회원가입</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="col-2">
    </div>
  </div>
</nav>
{% block content %}
{% endblock content %}
<footer>
  <p>made by 김광표 김다겸 김문경 김준환 이주용 최근영</p>
  <p>ⓒ Y.M.C Corp.</p>
</footer>
{% bootstrap_javascript %}
</body>

</html>